{% comment %}
	Info:       Poetry list as Card View
	Requires:   1) css and js of static/mdl/*
				2) bookmark.js(poetry-sm.html)
{% endcomment %}
{% for item in items %}
<div class="mdl-cell mdl-cell--12-col mT0 mB0">	
{% include "repository/include/cards/poetry-sm.html" with poetry=item %}
</div>
{% endfor %}
{% comment %} Scripts are not required in case of no items {% endcomment %}
{% if items %}
<script>
{% comment %}
jquery not required. Using alternate of '$(document).ready()'
{% endcomment %}
document.addEventListener('DOMContentLoaded', function () {
	var poetryClicked = function(e){
		e.stopPropagation();
		if($(e.target).is('a') || $(e.target.parentNode).is('a')){
			{% comment %} clicked on `a` tag. {% endcomment %}
			return;
		}
		window.document.location = $(this).data("href");
	};
	var nodes = $('.poetry-card.small');
	nodes.on('click', poetryClicked);
});
</script>
{% endif %}