{% comment %}
	Info:       Snippet list as Card View
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}

{% if items %} {% comment %} Display the list {% endcomment %}		
	{% include "repository/include/misc/pagination-top.html" with items=items %}
				
	{% for item in items %}
	<div class="mdl-cell mdl-cell--12-col">	
	{% include "repository/include/cards/snippet-sm.html" with snippet=item %}														
	</div>
	{% endfor %}

	{% include "repository/include/misc/pagination-bottom.html" with items=items %}
	
{% else %}  {% comment %} Display the notification {% endcomment %}
	{% include "repository/include/misc/empty-result.html" %}
{% endif %}

<a id="floating-btn-bottom" href="{% url 'repository:add-item' type='snippet' %}?cancel={{request.path}}"
	class="bg-snippet mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-shadow--4dp">
    <i class="material-icons" role="presentation">add</i>
    <span class="visuallyhidden">Add</span>
</a>