{% extends "snippets/base.html" %}

{% block title %}
	List of snippets
{% endblock %}

{% block main %}

	<section id="id-section-main" class="p-8">
		<div class="mdl-poetry__post mdl-grid">

		<div class="mdl-cell mdl-cell--12-col mdl-grid">
{% if view == 'table' %}
{% include "snippets/include/snippet-list-table.html" %}
{% elif view == 'card' %}	
{% include "snippets/include/snippet-list-card.html" %}
{% endif %}
		</div>
		
		</div>	
	</section>

{% endblock %}

{% block page-title %}Snippets{% endblock %}