{% extends "snippets/snippet-base.html" %}
{% load staticfiles %}
{% load humanize %} 

{% block title %}#{{tag}} tagged poetry{% endblock %}

{% block main %}

<section id="id-section-main" class="p-8">
	<div class="mdl-poetry__post mdl-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--top mdl-grid">
		</div>
		
		<div class="mdl-cell mdl-cell--8-col mdl-grid">
{% include "snippets/include/snippet-list-card.html" %}
		</div>			
				
	</div>	
</section>

{% endblock %}

{% block page-title %}Tags{% endblock %}