{% extends "snippets/snippet-base.html" %}
{% load staticfiles %}
{% load snippets_tags %}
{% load humanize %} 

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}
	{{ snippet.get_title }} | {{ snippet.author.get_display_name }}
{% endblock %}

{% block main %}

	{% include "common/include/message-panel.html" with messages=messages only %}

	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-mL mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--top mdl-cell--hide-phone mdl-grid pA-0">
			{% include "projects/include/author-card-md.html" with author=snippet.author %}
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet pA-0">
			{% include "snippets/include/snippet-card.html" with snippet=snippet %}
			</section>			
		</div>		
	</section>

	<section class="pB-8">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
				<div class="section-title wFull">
					<h3>More like this</h3>	
				</div>
				<div id="id-similar-poems">
				{% get_similar_snippets 5 like snippet as similar %}
				{% for s in similar %}
				{% include "snippets/include/snippet-card-md.html" with snippet=s %}
				{% endfor %}
				</div>
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>
	
	<section class="pB-8">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
				<div class="section-title wFull">
					<h3>Latest from {{snippet.author.get_name}}</h3>	
				</div>
				<div id="id-recent-poems" class="wFull" data-url="{% url 'snippets:recent-snippets-by-author' pk=snippet.author.id %}">
				</div>
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>

{% endblock %}

{% block scripts %}
{{ scripts.super }}
<script type="text/javascript" src="{% static "js/snippets/auth_list.js" %}"></script>
{% endblock %}