{% extends "snippets/snippet-base.html" %}
{% load staticfiles %}
{% load humanize %} 

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}
	{{ snippet.get_title }} | {{ snippet.author.get_display_name }}
{% endblock %}

{% block main %}
		{% if messages %}
		<section id="msgPannel" class="pT-8 pB-8">
			<div class="mdl-poetry__post mdl-grid">	
					
				<div class="mdl-card__actions mdl-cell mdl-cell--8-col mdl-color-text--grey-600">
					<div class="flash-msg">
		    			{% for message in messages %}
	    				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    					<i class="material-icons">info</i>
	    					{{ message }}
	    				</div>
		    			{% endfor %}
		    		</div>
					<div class="mdl-layout-spacer"></div>
					<button id="msgCloseBtn" class="action-button--small" title="Close">
						<i class="material-icons" role="presentation">close</i>       
					</button>		    		
				</div>	
						
			</div>	
		</section>
		<script>
		$(document).ready(function(){			
			var hideMsg = function(){			
				$('#msgPannel').addClass('hidden');
			};			
			$('#msgCloseBtn').on('click', hideMsg);
		});
		</script>
		{% endif %}
						
    	<section id="mainArticle" class="pT-8 pB-48">
			<div class="mdl-poetry__post mdl-grid">		

				<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--top mdl-grid">
					{% include "projects/include/author-card-md.html" with author=snippet.author %}
				</div>			
				<div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--top mdl-grid">
					{% include "snippets/include/snippet-card.html" with snippet=snippet %}
				</div>											
				<div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-grid">				
					<div class="section-title mdl-cell mdl-cell--12-col">
						<h3>Similar entries</h3>	
					</div>					
				</div>												
				
			</div>		
    	</section> <!-- /ArticleDetails -->


{% endblock %}
