{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}Add a {{ item_type }} to repository | {{ sitename }}{% endblock %}

{% block search-placeholder %}{{ item_type }}{% endblock %}
{% block search-action %}/{% endblock %}

{% block breadcrumbs %}
{% include "repository/include/misc/breadcrumb_for_add_item.html" %}
{% endblock %}

{% block extra-style %}
{% comment %} Transliteration CSS {% endcomment %}
	<link rel="stylesheet" href="{% static "js/ime/css/jquery.ime.css" %}"/>	
{% endblock %}

{% block main %}	
<section id="priSect" class="pT-8 pB-48">
	<div class="_layout layout-sLs mdl-grid">		
		<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
		</section>	
		<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			<div class="mdl-card author-card--lg bS-1 wFull">
				<div class="p-16 column">
					<div class="title-text"></div>
				</div>
				{% include "repository/include/forms/person.html" %}
				<div class="mdl-card__menu">
					<button class="action-button--small" title="Cancel" onclick="location.href=&#39;{{ cancel_url }}&#39;">
						{% include "common/svg/close.html" %}         
					</button>
				</div>
			</div>
		</section>				
		<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
		</section>				
	</div>		
</section>	
{% endblock %}

{% block scripts %} 
{% comment %} Transliteration JS {% endcomment %}
	<script type="text/javascript" src="{% static "js/ime/libs/rangy/rangy-core.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.selector.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.preferences.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.inputmethods.js" %}"></script>	
	<script>
		$( document ).ready( function () {
			// All input fields having "translit" class require transliteration
			$('.translit').ime();
			/*$('#id_body, #id_title').ime();*/
		} );
	</script>
{% endblock %}