{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}Add a {{ item_type }} to repository - {{ sitename }}{% endblock %}

{% block breadcrumbs %}
{% include "repository/include/misc/breadcrumb_for_add_item.html" %}
{% endblock %}

{% block main %}	
<section id="priSect" class="pT-8 pB-48">
	<div class="_layout layout-sLs mdl-grid">		
		<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
		</section>	
		<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			<div class="mdl-card author-card--lg bS-1 wFull">
				<div class="p-16 column">
					<div class="title-text"></div>
				</div>
				{% include "repository/include/forms/snippet.html" %}
				<div class="mdl-card__menu">
					<button class="mdl-button mdl-button--icon" onclick="location.href=&#39;{{ cancel_url }}&#39;">
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 50 50" style="fill: rgb(51, 51, 51);">
						    <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 L 7.71875 6.28125 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"/>
						</svg>         
					</button>
				</div>
			</div>
		</section>				
		<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
		</section>				
	</div>		
</section>	
{% endblock %}