{% extends "repository/base.html" %}
{% load static %}

{% block title %}Add {{ item_type }} to repository | {{ sitename }}{% endblock %}

{% block header %}{% comment %} Don't show header here {% endcomment %}{% endblock %}
{% block drawer %}{% comment %} Don't show drawer here {% endcomment %}{% endblock %}

{% block navigation-header %}
{% with 'Add '|add:item_type as nav_title %}
{% include 'common/include/navigation-bar.html' with nav_url=cancel_url nav_title=nav_title nav_css='repository' %}
{% endwith %}
{% endblock %}

{% block search %}{% comment %} Don't show search box here {% endcomment %}{% endblock %}

{% block extra-style %}
{% comment %} Transliteration CSS {% endcomment %}
	<link rel="stylesheet" href="{% static "js/ime/css/jquery.ime.css" %}"/>
{% endblock %}

{% block main %}
<section class="pT-8 pB-48">
    <div class="_layout layout-L mdl-grid">
        <div class="__c mdl-cell mdl-cell--12-col pA-0">
            <div class="mdl-card author-card--lg bS-1 wFull">
                <div class="p-16">
                    <div class="title-text"></div>
                </div>
                {% include "repository/include/forms/poetry.html" %}
                <div class="mdl-card__menu">
                    <button class="action-button--small" title="Cancel" onclick="location.href=&#39;{{ cancel_url }}&#39;">
                        {% include "common/svg/close.html" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}
{% comment %} Requirements by repository/include/forms/poetry.html {% endcomment %}
 {% include "repository/include/fields/creator-select2-js.html" %}
{% comment %} Transliteration JS {% endcomment %}
	<script type="text/javascript" src="{% static "js/ime/libs/rangy/rangy-core.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.selector.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.preferences.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.inputmethods.js" %}"></script>	
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			// All input fields having "translit" class require transliteration
			$('.translit').ime();
			/*$('#id_body, #id_title').ime();*/
		} );
	</script>
{% endblock %}