{% extends "repository/base.html" %}
{% load static %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}{{ obj.name }} | {{ sitename }}{% endblock %}

{% block breadcrumbs %}
<div class="pT-16">
    <div class="_layout mW-512">
        <div class="breadcrumbs wFull">
            <a href="{% url 'explore-books' %}">Books</a>
            <span> / </span>
            <span>{{ obj.headline }}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
    {% comment %} BOOK {% endcomment %}
    <section class="pT-8 pB-16">
        <div class="_layout layout-L mdl-grid">
            <div class="__c mdl-cell mdl-cell--12-col pA-0">
            {% include "repository/include/cards/book.html" with book=obj %}
            </div>
        </div>
    </section>
{% endblock %}