{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}All data items{% endblock %}

{% block main %}
<section class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">

		<div class="__c mdl-cell mdl-cell--12-col mdl-grid">

			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='person' %}" class="">						
					<i class="material-icons dp48">person</i>
				</a>		
				<div class="caption">
					<a href="{% url 'repository:list' type='person' %}">Persons</a>
				</div>
			</div>

			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='poetry' %}">						
					<i class="material-icons dp48">local_library</i>
				</a>											
				<div class="caption">
					<a href="{% url 'repository:list' type='poetry' %}">Poetries</a>
				</div>																				
			</div>			

			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='book' %}">						
					<i class="material-icons dp48">book</i>
				</a>								
				<div class="caption">
					<a href="{% url 'repository:list' type='book' %}">Books</a>	
				</div>	
			</div>

			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='snippet' %}">						
					<i class="material-icons dp48">style</i>
				</a>										
				<div class="caption">
					<a href="{% url 'repository:list' type='snippet' %}">Snippets</a>
				</div>			
			</div>
						
			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">	
				<a href="{% url 'repository:list' type='organization' %}">						
					<i class="material-icons dp48">account_balance</i>
				</a>								
				<div class="caption">
					<a href="{% url 'repository:list' type='organization' %}">Organizations</a>
				</div>															
			</div>
			
			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='event' %}">						
					<i class="material-icons dp48">event</i>
				</a>									
				<div class="caption">
					<a href="{% url 'repository:list' type='event' %}">Events</a>
				</div>
			</div>
			
			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='product' %}">						
					<i class="material-icons dp48">shopping_cart</i>
				</a>										
				<div class="caption">
					<a href="{% url 'repository:list' type='product' %}">Products</a>	
				</div>																			
			</div>	

			<div class="links-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<a href="{% url 'repository:list' type='place' %}">						
					<i class="material-icons dp48">place</i>
				</a>											
				<div class="caption">
					<a href="{% url 'repository:list' type='place' %}">Places</a>
				</div>																			
			</div>							

		</div>

	</div>	
</section>
		
{% endblock %}