{% extends "repository/base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}Explore Repository{% endblock %}

{% block headbanner %}
<section id="id-head" class="centered">
	<div class="head__banner small repository">
		<div class="head__subtitle">
			Explore the Repository.		 					
		</div>
	</div>				
</section>
{% endblock %}
{% block breadcrumbs %}
<div class="pT-8 pB-8">
	<div class="_layout mW-512">					
		<div class="breadcrumbs wFull">
			<a href="{% url 'repository:home' %}">Repository</a>
			<span> / </span>
			<a href="{% url 'repository:view' %}">data</a>
			<span> / </span>			 	
		</div>					
	</div>	
</div>
{% endblock %}

{% block main %}
<section class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">

		<div class="__c mdl-cell mdl-cell--12-col mdl-grid">

			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='person' %}" class="member">						
						<i class="material-icons dp48">person</i>
						<div class="caption">
							Persons
						</div>
						<div class="light-txt">{{ count.person }}</div>					
					</a>		
				</div>
			</div>

			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='poetry' %}" class="member">						
						<i class="material-icons dp48">local_library</i>
						<div class="caption">
							Poetries
						</div>	
						<div class="light-txt">{{ count.poetry }}</div>				
					</a>		
				</div>																			
			</div>			

			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='book' %}" class="member">						
						<i class="material-icons dp48">book</i>
						<div class="caption">
							Books
						</div>	
						<div>{{ count.book }}</div>				
					</a>		
				</div>					
			</div>
{% if request.user|has_group:'administrator' %}{% comment %} Not in use {% endcomment %}
			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='snippet' %}" class="member">						
						<i class="material-icons dp48">style</i>
						<div class="caption">
							Snippets
						</div>	
						<div>{{ count.snippet }}</div>				
					</a>		
				</div>						
			</div>
						
			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">	
				<div class="links-card">
					<a href="{% url 'repository:list' type='organization' %}" class="member">						
						<i class="material-icons dp48">account_balance</i>
						<div class="caption">
							Organizations
						</div>	
						<div>{{ count.organization }}</div>				
					</a>		
				</div>																		
			</div>
			
			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='event' %}" class="member">						
						<i class="material-icons dp48">event</i>
						<div class="caption">
							Events
						</div>	
						<div>{{ count.event }}</div>				
					</a>		
				</div>								
			</div>
			
			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='product' %}" class="member">						
						<i class="material-icons dp48">shopping_cart</i>
						<div class="caption">
							Products
						</div>	
						<div>{{ count.product }}</div>				
					</a>		
				</div>																						
			</div>	

			<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
				<div class="links-card">
					<a href="{% url 'repository:list' type='place' %}" class="member">						
						<i class="material-icons dp48">place</i>
						<div class="caption">
							Places
						</div>	
						<div>{{ count.place }}</div>				
					</a>		
				</div>																		
			</div>							

		</div>
{% endif %}
	</div>	
</section>
		
{% endblock %}