{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}{{ obj.name }} | {{ sitename }}{% endblock %}

{% block breadcrumbs %}
{% include "repository/include/misc/breadcrumb_for_item.html" %}
{% endblock %}

{% block main %}
	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
			<section class="__c mdl-cell mdl-cell--12-col pA-0">
			{% include "repository/include/cards/event.html" with event=obj %}
			</section>
		</div>
	</section>
	
	{% include "repository/include/misc/button-floating-add.html" with item_type=item_type %}
{% endblock %}