{% extends "repository/base.html" %}
{% comment %}
	Info: Explore poet page
{% endcomment %}
{% load common_tags %}
{% load repository_tags %}
{% load humanize %}
{% block title %}{{ result_title }} | {{ sitename }}{% endblock title %}
{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block search %}
{% include "common/include/search-bar.html" with q_url="" q_str=query_string placeholder="Search for a Poet" %}
{% endblock %}

{% block main %}
<section class="mT-32 pB-8">
	<div class="_layout layout-L mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="card-xl section-title">
				<h3 class="c-grey1">Discover Poets</h3>
			</div>
		</div>
		{% get_item_random person 8 as random_persons %}
		{% include "repository/include/list/person.html" with items=random_persons %}
	</div>
</section>
<section class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="card-xl section-title">
				<h3 class="c-grey1">Recent Updates</h3>
			</div>
		</div>
		{% get_item_recent person 8 as recent_persons %}
		{% include "repository/include/list/person.html" with items=recent_persons %}
	</div>
</section>
{% comment %} ADD PERSON BUTTON {% endcomment %}
{% if request.user|has_group:'administrator,editor' %}
<section class="pT-8 pB-8">
    <div class="_layout layout-L mdl-grid">
        <div class="mdl-cell mdl-cell--12-col pA-0">
            <div class="card-l row center">
                <div class="m8" style="width:120px;">
                    <a class="card" href="{% url 'repository:add-item' item_type='person' %}?cancel={{request.path}}">
                        <div class="tAc">
                            <button class="svg32 button-fab bS-1 h-shadow bg-person" title="Add a person to repository">
                                {% include "common/svg/person_add.html" %}
                            </button>
                            <div class="title-box pT12">
                                <span class="title-text fS14 b">Add a poet</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="pT-8 pB-16">
    <div class="_layout layout-L mdl-grid">
    {% include "repository/include/misc/stats.html" %}
    </div>
</section>

{% endblock %}