{% extends "repository/base.html" %}
{% comment %}
	Info: Explore poet page
{% endcomment %}
{% load repository_tags %}
{% load humanize %}
{% block title %}{{ result_title }} | {{ sitename }}{% endblock title %}
{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block search %}
{% include "common/include/search-bar.html" with q_url="" q_str=query_string placeholder="Search for a Poet" %}
{% endblock %}

{% block main %}
<section class="mT-32 pB-8">
	<div class="_layout layout-L mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="card-xl section-title">
				<h3 class="c-grey1">Discover Poets</h3>
			</div>
		</div>
		{% get_item_random person 8 as random_persons %}
		{% include "repository/include/list/person.html" with items=random_persons %}
	</div>
</section>
<section class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">
		<div class="mdl-cell mdl-cell--12-col">
			<div class="card-xl section-title">
				<h3 class="c-grey1">Recent Updates</h3>
			</div>
		</div>
		{% get_item_recent person 8 as recent_persons %}
		{% include "repository/include/list/person.html" with items=recent_persons %}
	</div>
</section>
<section class="pT-8 pB-16">
    <div class="_layout layout-L mdl-grid">
    {% include "repository/include/misc/stats.html" %}
    </div>
</section>

{% endblock %}