{% extends "repository/base.html" %}
{% comment %}
	Info:       List of items
	Requires:   1) css and js of static/mdl/*
				2) bookmark.js(list/poetry.html)
{% endcomment %}
{% load person_tags %}
{% block title %}{{ result_title }} | {{ sitename }}{% endblock title %}
{% block meta %}
{% get_poets_count as poets_count %}
<meta name="description" content="Read and explore the poetry of {{ poets_count }} great poets on {{ sitename }}.">
{% endblock %}

{% block search-placeholder %}{{result_title}}{% endblock %}
{% block search-action %}/{% endblock %}

{% block main %}
	<section class="pT-8 pB-8">
		<div class="_layout layout-L mdl-grid">
		{% load humanize %}
			<div class="mdl-cell mdl-cell--12-col">
				<div class="p-card">
					<div class="search-title">
						<div class="title">{{result_title}}</div>
					</div>{% comment %}
					<div class="search-stats mL-8">
						{% get_poetry_count as poetry_count %}
						<span>{{ poetry_count|intcomma }}</span>
					</div>{% endcomment %}
				</div>
			</div>
		</div>
	</section>
	
	<section class="pT-8 pB-8">
		<div class="_layout layout-L mdl-grid">
		{% if items %} {% comment %} Display the list {% endcomment %}
			{% include "repository/include/list/person.html" with items=items %}
		{% else %} {% comment %} Display the notification {% endcomment %}
			{% include "repository/include/misc/empty-result.html" %}
		{% endif %}
		</div>
	</section>
	
	<section class="pT-8 pB-8">
	</section>
{% endblock %}