{% extends "repository/base.html" %}
{% block title %}List of items{% endblock title %}

{% block breadcrumbs %}
<div class="pT-8 pB-8">
	<div class="_layout mW-512">					
		<div class="breadcrumbs wFull">
			<a href="{% url 'repository:home' %}">Repository</a>
			<span> / </span>
			<a href="{% url 'repository:view' %}">data</a>
			<span> / </span>
			<span>{{ item_type }}</span>
			<span> / </span>			 	
		</div>					
	</div>	
</div>
{% endblock %}

{% block main %}
	<section class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
			<div class="__c mdl-cell mdl-cell--12-col mdl-grid">
			{% include list_template with items=items %}
			</div>
		</div>	
	</section>
{% endblock %}