{% extends "repository/base.html" %}
{% comment %}
	Info:       List of items
	Requires:   1) css and js of static/mdl/*
				2) bookmark.js(list/poetry.html)
{% endcomment %}
{% block title %}List of items{% endblock title %}

{% block breadcrumbs %}
<div class="pT-8 pB-8">
	<div class="_layout mW-512">					
		<div class="breadcrumbs wFull">
			<a href="{% url 'repository:home' %}">Repository</a>
			<span> / </span>
			<a href="{% url 'repository:view' %}">data</a>
			<span> / </span>
			<a href="{% url 'repository:list' type=item_type %}">{{ item_type }}</a>
			<span> / </span>			 	
		</div>					
	</div>	
</div>
{% endblock %}

{% block main %}
	<section class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
			<div class="__c mdl-cell mdl-cell--12-col mdl-grid">
			{% include list_template with items=items %}
			</div>
		</div>	
	</section>
{% endblock %}
{% block scripts %}
{% if item_type == 'poetry' %}
	{% include "repository/include/misc/bookmark-button-js.html" %}
{% endif %}
{% endblock %}	