{% extends "repository/base.html" %}
{% comment %}
    Info:       Person
    Requires:   1) css and js of static/mdl/*
                2) bookmark.js(poetry-sm.html)
{% endcomment %}
{% load staticfiles %}
{% load creativework_tags %}
{% load common_tags %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}{{ obj.full_name }} | {{ sitename }}{% endblock %}

{% block search-placeholder %}{{ item_type }}{% endblock %}
{% block search-action %}/{% endblock %}

{% block breadcrumbs %}
<div class="pT-16">
    <div class="_layout mW-512">
        <div class="breadcrumbs wFull">
            <a href="{% url 'explore-poets' %}">Poets</a>
            <span> / </span>
            <span>{{ obj.headline }}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
    {% comment %} PERSON INFO {% endcomment %}
    <section class="pT-8 pB-16">
        <div class="_layout layout-L mdl-grid">
            <div class="__c mdl-cell mdl-cell--12-col pA-0">
            {% include "repository/include/cards/person.html" with person=obj %}
            </div>
        </div>
    </section>
    {% comment %} ACTION ITEMS FOR EDITORS {% endcomment %}
    {% if request.user|has_group:'administrator,editor' %}
    <section class="pB-16">
        <div class="_layout layout-L mdl-grid">
            <div class="__c mdl-cell mdl-cell--12-col pA-0">
                <div class="card-l row fill">
                    {% comment %} ADD POETRY FOR THIS POET {% endcomment %}
                    <div class="m8" style="width:90px;">
                        <a class="card" href="{% url 'repository:add-item' item_type='poetry' %}?creator={{obj.id}}&cancel={{request.path}}">
                            <div class="tAc">
                                <button class="svg32 button-fab bS-1 h-shadow bg-person" title="Add a poetry of {{ obj.popular_name }}">
                                    {% include "common/svg/local_library.html" %}
                                </button>
                                <div class="title-box pT12">
                                    <span class="title-text fS14 b">Add poetry</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% comment %} ADD BOOK FOR THIS POET {% endcomment %}
                    <div class="m8" style="width:90px;">
                        <a class="card" href="{% url 'repository:add-item' item_type='book' %}?creator={{obj.id}}&cancel={{request.path}}">
                            <div class="tAc">
                                <button class="svg32 button-fab bS-1 h-shadow bg-person" title="Add a book of {{ obj.popular_name }}">
                                    {% include "common/svg/book.html" %}
                                </button>
                                <div class="title-box pT12">
                                    <span class="title-text fS14 b">Add book</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% comment %} PROOFREAD POETRY BY THIS POET {% endcomment %}
                    <div class="m8" style="width:90px;">
                        <a class="card" href="{% url 'proofreader:poetry' %}?poet={{ obj.id }}">
                            <div class="tAc">
                                <button class="svg32 button-fab bS-1 h-shadow bg-person" title="Proofread the poetry of {{ obj.popular_name }}">
                                    {% include "common/svg/content_paste.html" %}
                                </button>
                                <div class="title-box pT12">
                                    <span class="title-text fS14 b">Review</span>
                                    {% get_poetry_count by obj unpublished as upub_poetry_count %}
                                    <div class="light-txt">{{ upub_poetry_count }} poetry</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% comment %} RECENT POETRIES BY THE PERSON {% endcomment %}
    <section class="pB-8">
        <div class="_layout layout-sLs mdl-grid">
            <div class="__l mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
            </div>
            <div class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet pA-0">
                <div class="section-cards">
                    <div class="section-title row fill">
                        <div class="mB-8">
                            <h3 class="c-grey1">
                                <a href="{% url 'explore-poetry-of' pk=obj.id slug=obj.get_slug %}">
                                    <span>Poetry by </span>
                                    <span>{{ obj.popular_name }}</span>
                                </a>
                            </h3>
                        </div>
                        <div class="">
                        </div>
                    </div>
                    {% get_recent_poetries 10 by obj as poetries %}
                    {% if poetries %}
                    {% include "repository/include/list/poetry.html" with items=poetries %}
                    <div class="mdl-card__actions">
                        <a class="action-button pTB-8 wFull oN" href="{% url 'explore-poetry-of' pk=obj.id slug=obj.get_slug %}" title="Show all poetry by {{ obj.title }}">                            
                            Show all
                        </a>
                    </div>
                    {% else %}
                        {% include "common/include/working-on-it.html" %}
                    {% endif %}
                </div>
            </div>
            <div class="__r mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
            </div>
        </div>
    </section>
{% endblock %}