{% extends "repository/repo-base.html" %}
{% load staticfiles %}

{% block title %}{{ obj.name }}{% endblock %}

{% block main %}

	{% include "common/include/message-pannel.html" with messages=messages only %}
	
	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			{% include "repository/include/card-place.html" with place=obj %}
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>
	
{% endblock %}		    				    																