{% extends "repository/base.html" %}
{% load staticfiles %}
{% load poetry_tags %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}{{ obj.name }} by {{ obj.creator.full_name }} | {{ sitename }}{% endblock %}

{% block search-placeholder %}{{ item_type }}{% endblock %}
{% block search-action %}/{% endblock %}

{% block breadcrumbs %}
<div class="pT-8 pB-8">
	<div class="_layout mW-512">
		<div class="breadcrumbs wFull">
			<a href="{% url 'explore-poetry' %}">Poetry</a>
			<span> / </span>
			<span>{{ obj.headline }}</span>
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
	{% comment %} PRIMARY POETRY {% endcomment %}
	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			{% include "repository/include/cards/poetry.html" with poetry=obj %}
			</section>
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>
		</div>
	</section>
	{% comment %} RELATED POETRY {% endcomment %}
	<section class="pB-8">
		<div class="_layout layout-sLs mdl-grid">
			<div class="__l mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
			</div>
			<div class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet pA-0">
				<div class="section-cards">
					<div class="section-title">
						<h3 class="c-grey1">Read Next</h3>
					</div>
					<div id="id-related-poetry" data-id="{{ obj.id }}" data-url="{% url 'repository:ajax-poetry-related' %}">
					</div>
					<div id="id-more-poetry">
					</div>
					<div class="mdl-card__actions">
						<div id="id-more-poetry-loading" class="action-button wFull oN hidden">Loading suggestions...</div>
						<div id="id-more-poetry-btn" class="action-button wFull pTB-8 oN hidden">Read more</div>
					</div>
				</div>
			</div>
			<div class="__r mdl-cell mdl-cell--3-col mdl-cell--top pA-0">
			</div>
		</div>
	</section>

	{% include "repository/include/misc/button-floating-add.html" with item_type=item_type %}
	
{% endblock %}