{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}{{ obj.name }} - {{ sitename }}{% endblock %}

{% block breadcrumbs %}
{% include "repository/include/misc/breadcrumb_for_item.html" %}
{% endblock %}

{% block main %}

	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			{% include "repository/include/cards/product.html" with product=obj %}
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>

	{% include "repository/include/misc/button-floating-add.html" with item_type=item_type %}
	
{% endblock %}		    				    																