{% extends "repository/base.html" %}
{% load staticfiles %}

{% block title %}Publish or unpublish '{{ obj.name }}' | {{ sitename }}{% endblock %}

{% block main %}

	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
				<div class="mdl-card poetry-card bS-1 wFull">
				{% with is_published=obj.is_published %}
					<div class="mdl-card__title mdl-color-text--grey-800">
						<h2 class="mdl-card__title-text">															
							{{ obj.name }}
						</h2>
					</div>
					<div class="article-info">
						By {{ obj.creator.name }}
					</div>	
					{% if is_published %}
					<div class="mdl-card__supporting-text">
						If you unpublish the article, it will no longer be accessible to the public.
					</div>	
					{% else %}
					<div class="mdl-card__supporting-text">
						Before publishing, kindly make sure of the followings:
						<br /><strong>1.</strong> Title is correct.
						<br /><strong>2.</strong> Formatting of stanzas are correct (Compare with the source if unsure).						
						<br /><strong>3.</strong> There are no useless html tags.
						<br /><strong>4.</strong> There are no copyright issues.
					</div>
					{% endif %}
					<form id="id-snippet-form" method="post" enctype="multipart/form-data" class="a-mdl-form">
						{% csrf_token %} 
						<div class="tAr">
							<input class="mdl-button" type="button"
							name="cancel" value="Cancel" id="id-form-cancel" onclick="location.href=&#39;{{ obj.get_absolute_url }}&#39;"/>						
							<input class="mdl-button mdl-button--colored mL-16 mR-16" type="submit" 
							name="submit" {% if is_published %}value="Unpublish"{% else %}value="Publish"{% endif %} id="id-form-submit"/> 
						</div>
					</form>
				{% endwith %}
				</div>
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col pA-0">
			</section>				
		</div>		
	</section>
	
{% endblock %}