{% extends "repository/base.html" %}
{% comment %}
	Info: Search results page for books
{% endcomment %}
{% block title %}{{ result_title }} | {{ sitename }}{% endblock title %}
{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block search %}
{% include "common/include/search-bar.html" with q_url="" q_str=query_string placeholder="Search for a Book (Title, Poet, or ISBN)" %}
{% endblock %}

{% block main %}
	<section class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
			{% load humanize %}
			<div class="mdl-cell mdl-cell--12-col">
				<div class="wide-card mB-8">
					<div class="search-title">
						<span class="chip chip--deletable">
							<span class="chip__text">"</span>
							<span class="chip__text">{{ query_string }}</span>
							<span class="chip__text">"</span>
							<span class="chip__text">&nbsp;in Books</span>
							<button onclick="location.href='{% url 'explore-books' %}'" class="chip__action">
								{% include "common/svg/close-bold.html" %}
							</button>
						</span>
					</div>
					<div class="search-stats mL-8">
						<span>{{ items.paginator.count|intcomma }} result{{ items.paginator.count|pluralize }}</span>
					</div>
				</div>
			</div>
		{% if items %} {% comment %} Display the list {% endcomment %}
			{% include "repository/include/list/book.html" with items=items %}
			{% include "repository/include/misc/pagination-bottom.html" with items=items %}
		{% else %} {% comment %} Display the notification {% endcomment %}
			{% include "common/include/empty-result-graphics.html" %}
		{% endif %}
		</div>
	</section>
{% endblock %}