{% extends "repository/base.html" %}
{% load staticfiles %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block title %}{{ obj.name }} | snippet {% endblock %}

{% block main %}

	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">			
			<section class="__c mdl-cell mdl-cell--12-col pA-0">
			{% include "repository/include/cards/snippet.html" with snippet=obj %}
			</section>			
		</div>		
	</section>

	<a id="floating-btn-bottom" href="{% url 'repository:add-item' type='snippet' %}?cancel={{request.path}}"
		class="bg-snippet mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-shadow--4dp">
	    <i class="material-icons" role="presentation">add</i>
	    <span class="visuallyhidden">Add</span>
	</a>	
{% endblock %}		    				    																