{% extends "repository/base.html" %}
{% block title %}#{{tag}} | {{ sitename }}{% endblock %}

{% block search-action %}/{% endblock %}

{% block main %}
	<section class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
		{% if items %} {% comment %} Display the list {% endcomment %}
			{% include "repository/include/misc/pagination-top.html" with items=items %}
			{% include list_template with items=items %}
			{% include "repository/include/misc/pagination-bottom.html" with items=items %}
		{% else %} {% comment %} Display the notification {% endcomment %}
			{% include "repository/include/misc/empty-result.html" %}
		{% endif %}
		</div>
	</section>
{% endblock %}