{% comment %} Bookmark App dashboard ribbon {% endcomment %}
{% load bookmark_tags %}
{% load humanize %}
<div class="card-l wFull">
    <div class="content-wrapper">
        <a class="card" href="{% url 'bookmark:list-bookmarks' %}">
            <div class="ribbon bCw bS-1 row fill">
                <div class="row">
                    <div class="c-r svg32 mR-8">
                    {% include "common/svg/bookmark-border.html" %}
                    </div>
                    <div class="b c-91 mR-4">{% bookmarks_count_by_user user as bcount %}{{ bcount|intcomma }}</div>
                    <div class="fullname">bookmarks</div>
                </div>
                <div class="">
                    <button class="action-button--small" title="Cancel" onclick="location.href=&#39;{{ cancel_url }}&#39;">
                        {% include "common/svg/close.html" %}
                    </button>
                </div>
            </div>
        </a>
    </div>
</div>