{% comment %}
    Info: User's Private Profile Card
{% endcomment %}
{% load common_tags %}
<div class="card-xl wFull">
    <div class="p-16">
        <div class="row aI-fe">
            <div class="mR-16">
                {% with profile_img_url=profile.get_avatar_url %}
                {% if profile_img_url %}
                <div class="avatar circle lg border" style="background: url('{{ profile_img_url }}') center / cover;">
                </div>
                {% else %}
                <div class="avatar circle lg user bC-none">
                    {% include "common/svg/user.html" %}
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="mR-16 tAc">
                <div class="title-text dark">
                    {{ profile.get_name }}
                </div>
                <div class="extras">
                    <span>Joined</span>
                    <span>{{ request.user.date_joined|date:"d M, Y" }}</span>
                </div>
	            <div class="mT4">
	                <span>Role . </span>
	                {% for group in groups %}
	                <button class="curve mdl-button c-{{group}}">{{ group|title }}</button>
	                {% endfor %}
	            </div>
            </div>
        </div>
        <div class="row fill mT-16">
            <div class="mR-8">
                <a href="{{ profile.get_absolute_url }}" title="View your public profile">
                    <div class="curve mdl-button c-3">View Public Profile</div>
                </a>
            </div>
            <div class="mR-8">
               {% for account in social_accounts %}
                <a class="mR-8 d-ib" title="View linked {{ account.provider_name }} profile" href="{{ account.profile_url }}">
                    <span class="circle icon {{ account.provider_name|lower }}"></span>
                </a>
               {% endfor %}
            </div>
            {% if request.user|has_group:"administrator,editor" %}
            <div class="mR-8">
                <a href="{% url 'activity:list' %}" title="See what has been done">
                    <div class="curve mdl-button c-3">View Activity Log</div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>