{% comment %}
    Info: User's Public Profile Card
{% endcomment %}
<div class="card-xl wFull bS-1 mB-32 bCw">
    <div class="p-16 bc-greenNormal">
        <div class="row center">
            <div style="margin-bottom: -32px;" class="mT-32">
                <div class="avatar circle md border of-hid c-white">
                    {% include "common/svg/user.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="p-16 tAc">
        <div class="fullname title-text dark mT-8">{{ profile.get_name|title }}</div>
        <div class="fS16 dark">@{{ profile.get_username }}</div>
        <div class="fS14">
            <span>Role . </span>
            {% for group in groups %}
            <span class="">{{ group|title }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="pLR-16 pB-16">
    </div>
</div>
