{% comment %}
    Info: User's Public Profile Card
{% endcomment %}
<div class="card-xl wFull">
    <div class="p-16">
        <div class="tAc">
            {% with profile_img_url=profile.get_avatar_url %}
            {% if profile_img_url %}
            <div class="avatar circle md border centered" style="background: url('{{ profile_img_url }}') center / cover;">
            </div>
            {% else %}
            <div class="avatar circle md user bC-none centered">
                {% include "common/svg/user.html" %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="title-text dark">
                {{ profile.get_name }}
            </div>
             <div class="mT4">
                <span>Role . </span>
                {% for group in groups %}
                <button class="curve mdl-button c-reader">{{ group|title }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>
