{% comment %} Suggestion list to review/edit {% endcomment %}
{% load creativework_tags %}
{% load humanize %}
<div class="card-l wFull">
    <div class="content-wrapper">
        <a class="card" href="{% url 'proofreader:home' %}">
            <div class="ribbon bCw bS-1 row fill">
                <div class="row">
                    <div class="c-r svg32 mR-8">
                    {% include "common/svg/content_paste.html" %}
                    </div>
                    <div class="b c-91 mR-4">{% get_poetry_count unpublished as pcount %}{{ pcount|intcomma }}</div>
                    <div class="fullname">Poetry to proofread</div>
                </div>
                <div class="">
                    <button class="action-button--small">
                        {% include "common/svg/arrow_forward.html" %}
                    </button>
                </div>
            </div>
        </a>
    </div>
</div>
