{# Only Views related to dashboard will have to extend this template #}
{% extends "dashboard-base.html" %}

{% comment %} To set the main nav link active throughout the views of this app {% endcomment %}
{% block is-repo-active %}active{% endblock %}

{% block search %}{% comment %} Modify the search block as per the current page {% endcomment %}
<section id="id-head" class="centered">
	<div class="head__banner repository search">
	   
		  <div id="id-search-box" class="site-search-row search-box"> 	    	  
		    <form id="id-search-form" class="site-search" onsubmit="if (document.getElementById('id-search-term').value == '') return false;" 
		    	action="{% block search-action %}{% endblock %}" method="get">
			  <button class="search-btn cW" id="search-btn" type="submit" tabindex="2" dir="ltr" 
			  	onclick="if (document.getElementById('id-search-term').value == '') return false; document.getElementById('id-search-form').submit(); return false;;return true;">
				<svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24" enable-background="new 0 0 24 24" width="24" height="24" style="fill: rgb(51, 51, 51);">
				    <path d="M 9 2 C 5.1 2 2 5.1 2 9 C 2 12.9 5.1 16 9 16 C 10.722428 16 12.28779 15.386196 13.5 14.375 L 14 14.875 L 14 15.6875 L 20.3125 22 L 22 20.3125 L 15.6875 14 L 14.8125 14 L 14.34375 13.53125 C 15.372135 12.314388 16 10.738606 16 9 C 16 5.1 12.9 2 9 2 z M 9 4 C 11.8 4 14 6.2 14 9 C 14 11.8 11.8 14 9 14 C 6.2 14 4 11.8 4 9 C 4 6.2 6.2 4 9 4 z"/>
				</svg>								
			  </button>
			  <input class="search-input" id="id-search-term" name="q" type="text" value="" spellcheck="false" autocomplete="off" 
			  	onkeydown="if (!this.value &amp;&amp; (event.keyCode == 40 || event.keyCode == 32 || event.keyCode == 34)) {this.onkeydown = null; this.blur();}"  
			  	tabindex="1" placeholder="{% block search-placeholder %}Search{% endblock %}" title="Search"/>						    	
			</form>
			{% comment %} 
			<div class="">
		      	<a id="id-sOff" class="search-box-btn" href="#"> 
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50" style="fill: rgb(51, 51, 51);">
					    <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Bitstream Vera Sans" d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 L 7.71875 6.28125 z" color="#000" overflow="visible" enable-background="accumulate" font-family="Bitstream Vera Sans"/>
					</svg>		      		
		      	</a>
	      	</div>
	      	{% endcomment %}						
		  </div>		  
		  		
	</div>				
</section>
{% endblock %}{% comment %} end of search block {% endcomment %}

{% comment %} This app requires feedback {% endcomment %}
{% block feedback %}
{% include "feedback/modal.html" %}
{% endblock %}