{% extends "dashboard-base.html" %}

{% block title %}Page unavailable, 404 | {{ sitename }}{% endblock %}

{% block main %}
<div class="pT-8 pB-48">
	<div class="_layout layout-L mdl-grid">
		<section class="__c mdl-cell mdl-cell--12-col">
			<div class="err-card">
				<h1>404</h1>
				<h2>Page unavailable</h2>
				<p>The document you requested either no longer exists or is not currently available. 
				To report this problem, contact us <a class="h-link" id="feedbackBtn-err404" data-url="{% url 'feedback:add' %}" href="#">here</a>.
				</p>

			</div>
		</section>
	</div>
</div>

{% endblock %}