{% extends "dashboard-base.html" %}

{% block title %}Internal Server Error, 500 | {{ sitename }}{% endblock %}

{% block main %}
<div class="pT-8 pB-48">
	<div class="_layout layout-L mdl-grid">			
		<section class="__c mdl-cell mdl-cell--12-col">
			<div class="err-card">
				<h1>500</h1>
				<h2>Internal Server Error</h2>
				<p>The server encountered an unexpected condition which prevented it from fulfilling the request. 
				To report this problem, contact us at support@{{ site }}
				</p>
			</div>
		</section>			
	</div>		
</div>

{% endblock %}