{% load static %}
{% load common_tags %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags {% endcomment %}
        <meta name="google-site-verification" content="u3Vuy3bHXt4xurDnEsimzk-e4cNpklJSbYYW_bxt94U" />
        {% block meta %}{% comment %} Write down all meta here {% endcomment %}
        <meta name="description" content="Building towards an archive for the poetry of every language. Read your next favorite poetry.">
        {% endblock %}
        <title>{% block title %}{{ sitename }}{% endblock title %}</title>
         <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="32x32"> 
        {% comment %} Base CSS {% endcomment %}
        <link rel="stylesheet" href="{% static "mdl/material.min.css" %}">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/modal.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Satisfy|Noto+Sans" rel="stylesheet">
        {% block extra-style %}{% comment %} Include here extra css style {% endcomment %}{% endblock %}
    </head>
    <body class="mdl-poetry mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    {% block body %}
    <div class="mdl-layout mdl-js-layout dashboard-layout">
        {% block header %}{% comment %} header of a section/app. Modify in the base template of the app {% endcomment %}
            {% include "include/header-basic.html" %}
        {% endblock %}{% comment %} end of `header` block {% endcomment %}
        {% block drawer %}{% comment %} Drawer of the site. Modify in the base template of the app if required {% endcomment %}
        {% if request.user.is_authenticated %} {% comment %} SHow drawer after login {% endcomment %}
            {% include "include/drawer-basic.html" %}
        {% endif %}
        {% endblock %}{% comment %} end of `drawer` block {% endcomment %}
        <main class="mdl-layout__content">
        {% block navigation-header %}{% endblock %}
        {% block search %}{% endblock %}
        {% block breadcrumbs %}{% endblock %}
        {% block tabs %}{% comment %} Navigation tabs {% endcomment %}{% endblock %}
        {% block main %}{% comment %} Put the main content in this block {% endcomment %}{% endblock %}
        {% block footer %}
            {% include "common/include/footer.html" %}
        {% endblock %}
        </main>
        <div class="mdl-layout__obfuscator"></div>{% comment %} For drawer {% endcomment %}
    </div>
    {% endblock %}{% comment %} end of body {% endcomment %}
    {% comment %} jQuery (necessary for Bootstrap's JavaScript plugins) {% endcomment %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mdl/material.min.js' %}"></script>
    {% block scripts %}{% comment %} extra scripts {% endcomment %}
        <script type="text/javascript" src="{% static "js/poetrylearner.min.js" %}"></script>
    {% endblock %}
    {% block feedback %}{% comment %} Feedback modal {% endcomment %}
        {% include "feedback/modal.html" %}
    {% endblock %}
    {% include "include/snackbar.html" %}
    {% include "common/include/login-clickcard.html" %}
    {% if not request.user|has_group:'administrator,editor' %}
    {% include "google-analytics.html" %}
    {% endif %}
    </body>
</html>