{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    
		{% block meta %}{# Write down all meta here #}{% endblock %}
		
	    <title>{% block title %} Home {% endblock title %} - siteName.org </title>
	    
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="{% static "mdl/material.min.css" %}">
	    <link rel="stylesheet" href="{% static "mdl/style.css" %}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	    {% block extra-style %}{# Include here extra css style #}{% endblock %} 
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'mdl/material.min.js' %}"></script>
   
	</head>  
 	<body class="mdl-poetry mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	{% block body %}
	
	<!-- The drawer is always open in large screens. The header is always shown,
	  even in small screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header page-header mdl-layout__header--waterfall">
	    <div class="mdl-layout__header-row page-header--row">
	      <span class="mdl-layout-title">{% block page-title %}Page Title{% endblock %}{# Define at each page to set its title #}</span>
	      <div class="mdl-layout-spacer"></div>      
	      <nav class="mdl-navigation page-header--nav">
	      {% block header-nav-links %}{# Modify the links as per the current Section (App) #}
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	        <a class="mdl-navigation__link" href="">Link</a>
	       {% endblock %}{# end of header-nav-links block #}
	      </nav>
	    </div>   
	  </header>

		<main class="mdl-layout__content">
		{% block main %}{# Put the main content in this block #}{% endblock %}
		   	
		{% block footer %}{# write down footer code in this block #}
		{% comment %}  
		<footer class="mdl-mini-footer">
		  <div class="mdl-mini-footer__left-section">
		    <div class="mdl-logo">Title</div>
		    <ul class="mdl-mini-footer__link-list">
		      <li><a href="#">Help</a></li>
		      <li><a href="#">Privacy & Terms</a></li>
		    </ul>
		  </div>
		</footer>{% endcomment %}
		{% endblock %}{# end of footer #}
		</main>
	</div>
	{% endblock %} {# end of body #}
	
 	{% block modal %}{# Modal code #}{% endblock %}	
	{% block scripts %}{# extra scripts #}{% endblock %}
		
	</body>
</html>