{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    
		{% block meta %}
		<meta name="description" content="">
		<meta name="author" content="" >
		
		{% endblock %}
		
	    <title>{% block title %} Home {% endblock title %}- siteName.org </title>
	    
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="{% static "mdl/material.min.css" %}">
	    <link rel="stylesheet" href="{% static "mdl/style.css" %}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	    {% block extra-style %}
	    
		{% endblock %}
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'mdl/material.min.js' %}"></script>
   
	</head>  
 	<body class="mdl-poetry mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
	{% block body %}
	
	<!-- The drawer is always open in large screens. The header is always shown,
	  even in small screens. -->
	<div class="mdl-layout mdl-js-layout
	            mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row ">
	      <span class="mdl-layout-title">Title</span>
	      <div class="mdl-layout-spacer"></div>
	      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
	                  mdl-textfield--floating-label mdl-textfield--align-right">
	        <label class="mdl-button mdl-js-button mdl-button--icon"
	               for="fixed-header-drawer-exp">
	          <i class="material-icons">search</i>
	        </label>
	        <div class="mdl-textfield__expandable-holder">
	          <input class="mdl-textfield__input" type="text" name="sample"
	                 id="fixed-header-drawer-exp" />
	        </div>
	      </div>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer mdl-color-text--teal-300">
	    <span class="mdl-layout-title">Title</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	      <a class="mdl-navigation__link" href="">Link</a>
	    </nav>
	  </div>
		<main class="mdl-layout__content">
		{% block main %}
		   	
		    	
		{% endblock %}
		</main>
	</div>
	{% endblock %}	
	
 	{% block modal %}    
	{% endblock %}		
	
	{% block scripts %}	    
	{% endblock %}
	</body>
</html>