{% extends "dashboard-base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block title %}poetrylearner{% endblock %}

{% block main %}	
<div id="priSect" class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">			
		<section class="__c mdl-cell mdl-cell--12-col pA-0">
			<!--<div class="bannerBack" style="background: url('/static/img/bbb.jpg') center / cover;"></div>-->
			<div class="banner">				
				{% if 0 %}
				<div class="wide-card tAc wFull">
					{% comment %}   Include meta panel 
					{% if request.user|has_group:"administrator,editor" %}
					{% include "repository/include/misc/meta-panel2.html" with item=poetry %}
					{% endif %}		{% endcomment %}
					<div>
						<h1 lang="{{ poetry.language }}" class="lang-{{ poetry.language }} wSpw">{{ poetry.summary }}</h1>
					</div>
					<div class="tAr wFull">
						<h2>{{ poetry.creator.title }}</h2>
					</div>								
				</div>						
				{% else %}
				<div class="wide-card tAc wFull">
					<h1 lang="en" class="lang-en">Memory is an autumn leaf that murmurs in the wind and then is heard no more.</h1>
					<h2 class="tAr">Kahlil Gibran</h2>
				</div>									
				{% endif %}
			</div>
		</section>			
	</div>		
</div>
{% endblock %}
