{% extends "dashboard-base.html" %}
{% load staticfiles %}
{% load common_tags %}

{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% block header %}
{% include "include/header-basic.html" %}
{% endblock %}

{% block main %}
<section class="pT-8 pB-32">
    <div class="_layout layout-L mdl-grid">
        <div class="__c mdl-cell mdl-cell--12-col pA-0">
            <div class="pB-32">
                {% if poetry %}
                <div class="card-xl tAc wFull">
                    <div class="content p-16">
                        <div lang="{{ poetry.language }}" class="poetry-stanza {{ poetry.language }}">{{ poetry.body }}</div>
                    </div>
                    <div class="details tAc">
                        <div class="mB4">
                            <a title="View poet page" href="{{ poetry.creator.get_absolute_url }}">
                                <span>{{ poetry.creator.popular_name }}</span>
                            </a>
                        </div>
                        <div class="pT-8 mB4">
                            <a class="action-button" href="{{poetry.get_absolute_url}}" title="View poetry page">
                                {% include "common/svg/book-open.html" %}
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="wide-card tAc wFull">
                    <h1 lang="en" class="lang-en">Memory is an autumn leaf that murmurs in the wind and then is heard no more.</h1>
                    <h2 class="tAr">Kahlil Gibran</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="nav-footer light">
    <div class="bT-1">
        <div class="card-m tAc">
	        <a href="/" class="card">
	           <div class="fS14 b" style="height:42px; line-height: 42px;">Surprise me!</div>
	        </a>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}