{% comment %}
	Info:       Book small Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card book author-card--sm bS-1 wFull">
	<div class="mdl-card__title column">	
		<div class="c-9e svg48 pB-16">
		{% include "common/svg/book.html" %}
		</div>
		<div class="title-text">
			<a href="{{book.get_absolute_url}}" title="View Book">
				{{ book.name }}
			</a>
		</div>
		<div class="extras">
			<span>By</span>
			<a title="View creator" href="{{ book.creator.get_absolute_url }}">{{ book.creator.name }}</a>
		</div>
		<div class="extras fS-12">
			{{ book.get_language }}
		</div>
	</div>
</div>