{% comment %}
    Info: Book full detail Card
{% endcomment %}
{% load static %}
{% load humanize %}
{% load common_tags %}

<div class="mdl-card card-xl bS-1 wFull" itemscope itemtype="http://schema.org/Book">
    <div class="row">
        <div class="book-cover-l bg-book-b">
            <div class="book-cover-in">
                <div class="fullname title-text mT-32 m16">
                    {{ book.name }}
                </div>
                <div class="mB-32 extras">
                    <a title="View creator {{ book.creator.full_name }}" href="{{ book.creator.get_absolute_url }}" itemprop="url">
                        <span class="fullname fS16" itemprop="name">{{ book.creator.popular_name }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="mT-32 book-cover-r">
            <div class="table-card fS16">
                <table cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">Title</span>
                            </td>
                            <td class="data" colspan="2">
                                <span class="gI" itemprop="name">{{ book.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">Creator</span>
                            </td>
                            <td class="data" colspan="2">
                                <span class="gI" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                    <a title="View {{ book.creator.full_name }}" href="{{ book.creator.get_absolute_url }}" itemprop="url">
                                        <span class="" itemprop="name">{{ book.creator.full_name }}</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">Language</span>
                            </td>
                            <td class="data" colspan="2">
                                <span class="gI" itemprop="inLanguage">{{ book.get_language }}</span>
                            </td>
                        </tr>
                        {% with contributors=book.contributors.all %}
                        {% if contributors %}
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">Contributors</span>
                            </td>
                            <td class="data" colspan="2">
                                {% for person in contributors %}
                                <div class="gI mB4" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
                                    <a title="View {{person.full_name}}" href="{{ person.get_absolute_url }}">
                                        <span itemprop="name">{{ person.popular_name }}</span>
                                    </a>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endwith %}
                        {% if book.publisher %}
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">Publisher</span>
                            </td>
                            <td class="data" colspan="2">
                                <div class="gI" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                                    <span itemprop="name">{{ book.publisher }}</span>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% if book.isbn %}
                        <tr>
                            <td class="name" colspan="2">
                                <span class="gI">ISBN</span>
                            </td>
                            <td class="data" colspan="2">
                                <span class="gI" itemprop="isbn">{{ book.isbn }}</span>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="content pLR-16">
                <p class="article-content"><span itemprop="description">{{ book.description }}</span></p>
            </div>
        </div>
    </div>
    {% comment %}  Include meta panel {% endcomment %}
    {% include "repository/include/misc/meta-panel.html" with item=book %}
    {% if request.user|has_group:'administrator,editor' %}
    <div class="mdl-card__menu">
        <a href="{% url 'repository:add-item' item_type=book.item_type pk=book.id %}/?cancel={{request.path}}" title="Edit to improve.">
        <button class="action-button action-button--icon oN" id="btn1">
        {% include "common/svg/edit.html" %}
        </button>
        </a>
    </div>
    {% endif %}
</div> <!-- /mdl-card -->