{% comment %}
	Info:       Book small Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card book author-card--sm bS-1 wFull">
	<div class="mdl-card__title column">	
		<div class="icon mdl-color-text--grey-500">
			<i class="material-icons dp48">book</i>
		</div>												
		<div class="title-text">
			<a href="{{book.get_absolute_url}}" title="View Book">														
				{{ book.name }}
			</a>
		</div>
		<div class="extras">
			<span>By
				<a title="View creator" href="{{ book.creator.get_absolute_url }}">
					{{ book.creator.name }}
				</a>
			</span>
		</div>	
		<div class="extras fS-12">
			{{ book.get_language }}
		</div>								
	</div>						
</div>