{% comment %}
    Info: Book full detail Card
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card card-l author-card--lg bS-1 wFull" itemscope itemtype="http://schema.org/Person">
    <div class="p-16 tAl bg-book">
        <div class="title-text mT-32" itemprop="name">
            {{ book.name }}
        </div>
        <div class="mB-32 extras itemprop="creator" itemscope itemtype="http://schema.org/Person"">
            <span>by </span>
            <a title="View the creator" href="{{ book.creator.get_absolute_url }}" itemprop="url">
                <span class="fS16" itemprop="name">{{ book.creator.popular_name }}</span>
            </a>
        </div>
    </div>
    <div class="p-16">
        <div class="fS14 c-31 mB-16">
            <div class="mT-8">
                <span class="b">Language: </span>
                <span>{{ book.get_language }}</span>
            </div>
            {% with contributors=book.contributor.all %}
            {% if contributors %}
            <div class="mT-8">
                <span class="b">Contributers: </span>
                {% for person in contributors %}
                <a title="View {{person.popular_name}}" href="{{ person.get_absolute_url }}">{{ person.popular_name }}</a>
                {% if not forloop.last %}<span>, </span>{% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% if book.publisher %}
            <div class="mT-8">
                <span class="b">Publisher: </span>
                <span>{{ book.publisher }}<</span>
            </div>
            {% endif %}
            
            {% if book.isbn %}
            <div class="mT-8">
                <span class="b">ISBN: </span>
                <span itemprop="isbn">{{ book.isbn }}</span>
            </div>
            {% endif %}
        </div>
        <div class="pT-16 pB-8">
            <span class="fS14 c-31">View this book on</span>
        </div>
        <div class="row mB-16">
            <div class="fS-12">
                {% if book.isbn %}
                <a class="action-button" target="_blank"
                href="http://openlibrary.org/isbn/{{ book.isbn }}">
                {% else %}
                <a class="action-button" target="_blank"
                href="https://openlibrary.org/search?q={{ book.name }}">
                {% endif %}
                    <div class="" style="background: url('{% static "img/logo_openlibrary.png" %}') center / cover no-repeat;
                    height: 70px; width: 110px;"></div>
                    <div class="b">openlibrary.org</div>
                </a> 
            </div>
            <div class="fS-12">
                {% if book.isbn %}
                <a class="action-button" target="_blank"
                href="https://www.goodreads.com/search?utf8=%E2%9C%93&query={{ book.isbn }}&search_type=books">
                {% else %}
                <a class="action-button" target="_blank"
                href="https://www.goodreads.com/search?utf8=%E2%9C%93&query={{ book.name }}&search_type=books">
                {% endif %}
                    <div class="" style="background: url('{% static "img/logo_goodreads.png" %}') center center / 40% no-repeat;
                    height: 70px; width: 110px;"></div>
                    <div class="b">goodreads.com</div>
                </a>
            </div>
        </div>
    </div>
    {% comment %}  Include meta panel {% endcomment %}
    {% include "repository/include/misc/meta-panel.html" with item=book %}
    
    <div class="mdl-card__menu">
        <a href="{% url 'repository:add-item' item_type=book.item_type pk=book.id %}/?cancel={{request.path}}" title="Edit to improve.">
        <button class="action-button action-button--icon oN c-F" id="btn1">
        {% include "common/svg/edit.html" %}
        </button>
        </a>
    </div>
</div> <!-- /mdl-card -->