{% comment %}
	Info:       Organization full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card org author-card--lg bS-1 wFull">
	<div class="mdl-card__title column bg-org">	
		<div class="icon">
			<i class="material-icons dp48">account_balance</i>
		</div>
		<div class="title-text">																					
			{{ org.name }}
		</div>
		<div class="extras">
			[ <a href="{{ org.parent.get_absolute_url }}" title="Parent organization">{{ org.parent.name }}</a> ] 
		</div>		
		<div class="extras mT-8">
			<a href="{{ org.parent.get_absolute_url }}" title="Type of organization">
				<i>{{ org.get_type }}</i>
			</a>
		</div>
	</div>
	{% if org.address %}	
	<div class="mdl-card__supporting-text">
		<div class="light-txt">
			<div>{{ org.address }}</div> 
		</div>
	</div>
	{% endif %}						
	<div class="mdl-card__supporting-text">					
		<p>{{ org.description }}</p>		
		<p>Know more: <a title="Click here to know more" href="{{ org.similar_item_url }}" target="_blank">
			{{ org.similar_item_name }}</a>
		</p>
	</div>
	<div class="mdl-card__supporting-text">					
		Dsiplay organization tree
	</div>	
	<div class="meta-pannel mdl-card__actions mdl-card--border mdl-color-text--grey-500">
		<div class="meta-edit">
			<div>
				<span>Last edited by</span>
				<span> 
    				<a title="Go to the profile page of user" href=#>{{ org.get_last_edit_user }}</a>
				</span>
			</div>
			<div>
				<span title="Last updated at {{ org.get_last_edit_time }}">{{ org.get_last_edit_time|naturaltime }}</span>
			</div>
		</div>
		<div class="mdl-layout-spacer"></div>							    			
	</div>
	<div class="mdl-card__menu">
		<a href="{% url 'repository:add-item' type=org.content_type pk=org.id %}/?cancel={{request.path}}" title="Edit to improve.">
		<button class="mdl-button mdl-js-button mdl-button--icon" id="btn1">
          <i class="material-icons mdl-color-text--white">edit</i>
		</button>
		</a>
	</div>
</div>