{% comment %}
	Info:       Person full detail Card
	Requires:   css and js of static/mdl/*
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card card-l author-card--lg bS-1 wFull" itemscope itemtype="http://schema.org/Person">
	<div class="card__title tAc bg-person">
		{% with person_img_url=person.get_image_url %}
		{% if person_img_url %}
		<div class="avatar lg border" style="background: url('{{ person_img_url }}') center / cover;">
		</div>
		{% else %}
		<div class="avatar lg">
			{% include "common/svg/person.html" %}
		</div>
		{% endif %}
		{% endwith %}
		<div class="title-text tAc" itemprop="name">
			{{ person.name }}
		</div>
		<div class="extras">
			<span class="text" itemprop="additionalName">{{person.additional_name}}</span>
		</div>
		{% if person.year_birth or person.year_death %}
		<div class="extras fS-12">
			<span>(</span>
		{% if person.year_birth %}
			<span title="Birth" itemprop="birthDate">{{ person.year_birth }}</span>
		{% endif %}
		{% if person.year_death %}
			<span title="Death">
				<span>- </span>
				<span itemprop="deathDate">{{ person.year_death }}</span>
			</span>
		{% endif %}
			<span>)</span>
		</div>
		{% endif %}
	</div>
	<div class="mdl-card__supporting-text">
		<p><span itemprop="description">{{ person.description }}</span>
		{% if person.similar_item_url %}
			<span class="info-txt"><a href="{{ person.similar_item_url }}" itemprop="sameAs">More</a></span>
		{% endif %}
		</p>
	</div>
	{% comment %}  Include meta panel {% endcomment %}
	{% include "repository/include/misc/meta-panel.html" with item=person %}

	<div class="mdl-card__menu">
		<a href="{% url 'repository:add-item' type=person.item_type pk=person.id %}/?cancel={{request.path}}" title="Edit to improve.">
			<button class="mdl-button mdl-button--icon c-white" id="btn1">
				{% include "common/svg/edit.html" %}
			</button>
		</a>
	</div>
</div>
<div class="card-l">
	<div class="feedback link tAr">
		<a id="feedbackBtn" data-url="{% url 'feedback:add_for_content' ctype_id=person.get_content_type.id obj_id=person.id %}" href="#">Feedback</a>
	</div>
</div>