{% comment %}
	Info:       Person small Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load poetry_tags %}
{% get_poetry_count by person as poetry_count %}
<div class="content-wrapper">
	<a class="card" href="{{person.get_absolute_url}}">
		<div class="mdl-card author-card--sm bS-1 wFull">
			<div class="p-16 column center">
				{% with person_img_url=person.get_image_url %}
				{% if person_img_url %}
				<div class="avatar md border" style="background: url('{{ person_img_url }}') center / cover;">			
				</div>		
				{% else %}
				<div class="avatar md border">
					{% include "common/svg/person.html" %}
				</div>
				{% endif %}		
				{% endwith %}					
				<div class="title-text tAc">														
					{{ person.name }}
				</div>
				<div class="extras">
					<span class="text">{{person.additional_name}}</span>
				</div>
				{% if person.year_birth or person.year_death %}
				<div class="extras fS-12">
					<span>(</span>
				{% if person.year_birth %}
					<span title="Birth">{{ person.year_birth }}</span> 
				{% endif %}
				{% if person.year_death %}					
					<span title="Death">- {{ person.year_death }}</span>
				{% endif %}
					<span>)</span>				
				</div>
				{% endif %}				
			</div>
			<div class="pos-RB">
				<div class="info-panel">
					<div class="light-txt clg">{{ poetry_count }} poem{{ poetry_count|pluralize }}</div>					
				</div>		
			</div>
		</div>
	</a>
</div>