{% comment %}
	Info:       Place full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card place author-card--lg bS-1 wFull">
	<div class="mdl-card__title column bg-place">	
		<div class="svg48 pB-16">
		{% include "common/svg/place.html" %}
		</div>
		<div class="title-text">
			{{ place.name }}
		</div>	
		<div class="extras mT-8">
			<a href="{{ place.has_map|default:"#" }}" title="View location on the map">
				<i>{{ place.address|default:"map" }}</i>
			</a>
		</div>
	</div>
	<div class="mdl-card__supporting-text">
		<p>{{ place.description }}</p>
		<p>Know more: <a title="Click here to know more" href="{{ org.similar_item_url }}" target="_blank">
			{{ place.similar_item_name }}</a>
		</p>
	</div>
	{% comment %}  Include meta panel {% endcomment %}
	{% include "repository/include/misc/meta-panel.html" with item=place %}

	<div class="mdl-card__menu">
		<a href="{% url 'repository:add-item' type=place.item_type pk=place.id %}/?cancel={{request.path}}" title="Edit to improve.">
			<button class="action-button action-button--icon oN c-F" id="btn1">
			{% include "common/svg/edit.html" %}
			</button>
		</a>
	</div>
</div>