{% comment %}
	Info:       Place full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card place author-card--lg bS-1 wFull">
	<div class="mdl-card__title column bg-place">	
		<div class="icon">
			<i class="material-icons dp48">place</i>
		</div>
		<div class="title-text">																					
			{{ place.name }}
		</div>	
		<div class="extras mT-8">
			<a href="{{ place.has_map|default:"#" }}" title="View location on the map">
				<i>{{ place.address|default:"map" }}</i>
			</a>
		</div>
	</div>					
	<div class="mdl-card__supporting-text">					
		<p>{{ place.description }}</p>		
		<p>Know more: <a title="Click here to know more" href="{{ org.similar_item_url }}" target="_blank">
			{{ place.similar_item_name }}</a>
		</p>
	</div>
	<div class="meta-pannel mdl-card__actions mdl-card--border mdl-color-text--grey-500">
		<div class="meta-edit">
			<div>
				<span>Last edited by</span>
				<span> 
    				<a title="Go to the profile page of user" href=#>{{ place.get_last_edit_user }}</a>
				</span>
			</div>
			<div>
				<span title="Last updated at {{ place.get_last_edit_time }}">{{ place.get_last_edit_time|naturaltime }}</span>
			</div>
		</div>
		<div class="mdl-layout-spacer"></div>							    			
	</div>
	<div class="mdl-card__menu">
		<a href="{% url 'repository:add-item' type=place.content_type pk=place.id %}/?cancel={{request.path}}" title="Edit to improve.">
		<button class="mdl-button mdl-js-button mdl-button--icon" id="btn1">
          <i class="material-icons mdl-color-text--white">edit</i>
		</button>
		</a>
	</div>
</div>