{% comment %}
	Info:       Poetry small Card
	Requires:   1) css and js of static/mdl/*
				2) bookmark.js(bookmark-button.html)
{% endcomment %}
{% load common_tags %}

<div class="mdl-card poetry poetry-card small poetrycard-js wFull bS-1" data-href="{{ poetry.get_absolute_url }}"
	itemscope itemtype="http://schema.org/CreativeWork">
	<meta itemprop="genre" content="poetry"/>
	<meta itemprop="name" content="{{ poetry.headline }}"/>
	<meta itemprop="inLanguage" content="{{ poetry.language }}"/>
	<div class="details pT-16">
		<div class="mB4 {% if item_type == 'person' %}hidden{%endif%}" itemprop="creator" itemscope itemtype="http://schema.org/Person">
			<a title="View the poet" href="{{ poetry.creator.get_absolute_url }}" itemprop="url">
				<span class="fullname fS14" itemprop="name">{{ poetry.creator.popular_name }}</span>
			</a>
		</div>
	</div>
	<div class="content pLR-16">
		<p lang="{{ poetry.language }}" class="poetry-stanza small {{ poetry.language }}" itemprop="description">{% autoescape off %}{{ poetry.summary }}...{% endautoescape %}</p>
	</div>
	<div class="details">
		<div class="mT4 fS14">
			{% for tag in poetry.get_tags_slugs %}
	 		<a class="hashtag pretty-link" href="{% url 'repository:tagged-poetry' slug=tag %}">
	 			<s>#</s>
				<b itemprop="keywords">{{ tag }}</b>
			</a>
			{% endfor %}
			{% if request.user|has_group:"administrator,editor" %}
			<a class="hashtag pretty-link" href="{% url 'repository:list' item_type='poetry' %}?lan={{ poetry.language }}">
				<s>#</s>
				<b>{{ poetry.get_language }}</b>
			</a>
			{% if poetry.is_published %}
			<span class="publish" title="Published">
				{% include "common/svg/published.html" %}
			</span>
			{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="action-panel p-16 pT-8 row r2l">
		{% comment %}  Include BOOKMARK button {% endcomment %}
		{% if not bookmark %}
			{% comment %} Sometimes 'bookmark' has been added to the context e.g. bookmark list view {% endcomment %}
			{% load bookmark_tags %}
			{% bookmark_by_user request.user on poetry as bookmark %}
		{% endif %}
		{% include "bookmarks/include/bookmark-button.html" with bookmark=bookmark item=poetry %}
		
		<a class="action-button oN" href="{{ poetry.get_absolute_url }}" title="Read full poetry" itemprop="url">
			{% include "common/svg/book-open.html" %}
			<span class="action-button__text">View</span>
		</a>
	</div>
</div>