{% comment %}
	Info:       Poetry full detail Card
	Requires:   1) css and js of static/mdl/*
				2) bookmark.js(bookmark-button.html), like.js(like-button.html)
{% endcomment %}
{% load staticfiles %}
{% load humanize %}
{% load common_tags %}

<div class="mdl-card card-l poetry-card wFull bS-1" itemscope itemtype="http://schema.org/CreativeWork">
{% with poetry_url=poetry.get_absolute_url %}
	<meta itemprop="genre" content="poetry"/>
	<meta itemprop="inLanguage" content="{{ poetry.language }}"/>
	<div class="title mdl-card__title mdl-card--expand">
		<div class="title-text mdl-card__title-text {{ poetry.language }}" itemprop="name">
			{{ poetry.headline }}
		</div>
	</div>
	<div class="details">
		<div class="mB4 fS14" itemprop="creator" itemscope itemtype="http://schema.org/Person">
			<a title="View the creator" href="{{ poetry.creator.get_absolute_url }}" itemprop="url">
				<span itemprop="name">{{ poetry.creator.popular_name }}</span>
			</a>
		</div>
		<div class="mB4 fS14">
			{% comment %}FIXME temporary disabled <a class="hashtag pretty-link" href="{% url 'repository:list' type='poetry' %}?lan={{ poetry.language }}">{% endcomment %}
			<a class="hashtag pretty-link" href="#">
				<s>#</s>
				<b>{{ poetry.get_language }}</b>
			</a>
			{% for tag in poetry.get_tags_slugs %}
	 		<a class="hashtag pretty-link" href="{% url 'repository:tagged-poetry' slug=tag %}">
	 			<s>#</s>
				<b itemprop="keywords">{{ tag }}</b>
			</a>
			{% endfor %}
			{% if request.user|has_group:"administrator,editor" %}
			{% if poetry.is_published %}
			<span class="publish" title="Published">
				{% include "common/svg/published.html" %}
			</span>
			{% endif %}{% endif %}
		</div>
	</div>
	<div class="content p-16">
		<div lang="{{ poetry.language }}" class="poetry-stanza {{ poetry.language }} fS20" itemprop="text">{{ poetry.body }}</div>
	</div>
	<div class="action-panel mdl-card__actions mdl-card--border mdl-color-text--grey-700">
		<button id="shareBtn" class="action-button oN" title="Worth sharing?"
			onclick="document.getElementById('sharePanel').classList.toggle('hidden'); return false;">
            {% include "common/svg/share.html" %}
            <span class="action-button__text">Share</span>
		</button>
		{% if request.user|has_group:'administrator,editor' %}
		<button id="pubBtn" class="action-button oN" title="Publish or unpublish"
			onclick="location.href=&#39;{% url 'repository:publish' type=poetry.item_type pk=poetry.id slug=poetry.get_slug %}&#39;">
			{% if poetry.is_published %}
			{% include "common/svg/unpublish.html" %}
			<span class="action-button__text">Unpublish</span>
			{% else %}
			{% include "common/svg/publish.html" %}
			<span class="action-button__text">Publish</span>
			{% endif %}
		</button>
		<button id="editBtn" class="action-button oN" title="Edit to improve the article" 
			onclick="location.href=&#39;{{ poetry.get_edit_url }}/?cancel={{ request.path }}&#39;">
			{% include "common/svg/edit.html" %}
			<span class="action-button__text">Edit</span>
		</button>
		{% endif %}
		{% comment %}  Include BOOKMARK button {% endcomment %}
		{% include "repository/include/misc/bookmark-button.html" with item=poetry %}
	</div>
	{% comment %}  Include share panel {% endcomment %}
	{% include "repository/include/misc/share-panel.html" with item=poetry %}
	{% comment %}  Include meta panel {% endcomment %}
	{% include "repository/include/misc/meta-panel.html" with item=poetry %}
	
	{% if request.user|has_group:'administrator,editor' %}
	<div class="mdl-card__menu">
		<button class="action-button action-button--icon oN" id="btn1">
		{% include "common/svg/more_vert.html" %}
		</button>
		<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
			<a class="mdl-menu__item" href="{% url 'repository:publish' type=poetry.item_type pk=poetry.id slug=poetry.get_slug %}">
			{% if poetry.is_published %}Unpublish{% else %}Publish{% endif %}
			</a>
			<a class="mdl-menu__item" href="{{ poetry.get_edit_url }}/?cancel={{ request.path }}" title="Edit to improve the article" >Edit</a>
		</ul>
	</div>
	{% endif %}
{% endwith %}
</div>
<div class="card-l">
	<div class="feedback link tAr">
		<a id="feedbackBtn" data-url="{% url 'feedback:add_for_content' ctype_id=poetry.get_content_type.id obj_id=poetry.id %}" href="#">Feedback</a>
	</div>
</div>