{% comment %}
	Info:       Poetry full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card poetry-card wFull bS-1">
{% with poetry_url=poetry.get_absolute_url %}
	<div class="mdl-card__title mdl-card--expand mdl-color-text--grey-800">
		<h2 class="mdl-card__title-text">															
			{{ poetry.headline }}
		</h2>
	</div>		
	<div class="mdl-card__supporting-text mdl-color-text--grey-600 article-info">
		<span>By
			<a title="View the creator" href="{{ poetry.creator.get_absolute_url }}">
				<span>{{ poetry.creator.name }}</span>			
			</a>
		</span>	
		<span>					
			<a class="hashtag pretty-link" href="#">
				<s>#</s>
				<b>{{ poetry.get_language }}</b>
			</a>							
			{% for tag in poetry.get_tags_slugs %}
	 		<a class="hashtag pretty-link" href="{% url 'repository:tagged-poetry' slug=tag %}">
	 			<s>#</s>
				<b>{{ tag }}</b>
			</a>
			{% endfor %}
			{% if poetry.is_published %}{% comment %} TODO make it visible only to admin {% endcomment %}
			<i id="id-pub" class="material-icons publish">assignment_turned_in</i>
			<span for="id-pub" class="mdl-tooltip">Published</span>
			{% endif %}								
		</span>			
	</div>

	<div id="articleContent" class="article-content mdl-card__supporting-text mdl-color-text--grey-800">											
		{% autoescape off %}
		{{ poetry.body }}
		{% endautoescape %}

	</div>
		
	<div class="action-panel mdl-card__actions mdl-card--border mdl-color-text--grey-700">
		<button id="shareBtn" class="action-button" title="Share" 
			onclick="document.getElementById('sharePanel').classList.toggle('hidden'); return false;">
            <i class="material-icons" role="presentation">share</i>
            <span class="action-button__text">Share</span>	                
		</button>
		
		<button id="bookmarkBtn" class="action-button" title="Send to my Bookmarks">
            <i class="material-icons color-used" role="presentation">bookmark</i>
            <span class="action-button__text">Bookmark</span>			                
		</button>
								
		<button id="favBtn" class="action-button" title="I love this">							
            <i class="material-icons" role="presentation">favorite</i>
            <span class="action-button__text">Favorite</span>			                            
		</button>																					

		<div class="meta">
			<span class="meta-val--bignum mR-4">12,234,002</span>
            <span class="meta-name">views</span>                            
		</div>						
	</div>

	{% comment %}  Include share panel {% endcomment %}
	{% include "repository/include/misc/share-panel.html" with item=poetry %}
	
	{% comment %}  Include meta panel {% endcomment %}
	{% include "repository/include/misc/meta-panel.html" with item=poetry %}
	
	<div class="mdl-card__menu">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
          <i class="material-icons">more_vert</i>
		</button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
          <li class="mdl-menu__item">
          	<a href="{% url 'repository:publish' type=poetry.content_type pk=poetry.id slug=poetry.get_slug %}">  
          	{% if poetry.is_published %}Unpublish{% else %}Publish{% endif %}
          	</a>
          </li>
          <li class="mdl-menu__item">
          	<a href="{{ poetry.get_edit_url }}/?cancel={{ request.path }}" title="Edit to improve the article" >Edit</a>
          </li>
        </ul>
	</div>													
{% endwith %}
</div>
