{% comment %}
	Info:       Product full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card product author-card--lg bS-1 wFull">
{% with event_img_url=product.get_image_url %}
	{% if product_img_url %}
	<div class="mdl-card__title column" style="background: url('{{ product_img_url }}') center / cover;">
	{% else %}
	<div class="mdl-card__title column bg-product">
	{% endif %}							
		<div class="title-text highlight">																					
			{{ product.name }}
		</div>
		<div class="extras highlight">
			<span>Manufactured by
			<a href="{{ product.manufacturer.get_absolute_url }}" title="Manufacturer">{{ product.manufacturer.name|default:"?" }}</a>
			</span> 
		</div>	
	</div>
	<div class="panel row mdl-card__actions">
		<div class="light-txt">
			<div>related to</div>
		{% for item in product.is_related_to.all %}
 			<div class="b">
 				<a title="View the product" href="{{ item.get_absolute_url }}">
					{{ item.name }}
				</a>
			</div>
		{% endfor %}
		</div>	
		<div class="mdl-layout-spacer"></div>
		<div class="light-txt">
			<div>similar to</div>
		{% for item in product.is_similar_to.all %}
 			<div class="b">
 				<a title="View the product" href="{{ item.get_absolute_url }}">
					{{ item.name }}
				</a>
			</div>
		{% endfor %}			
		</div>
	</div>						
	<div class="mdl-card__supporting-text">				
		<p>{{ product.description }}</p>				
		<p>Source: <a title="Click here to know more" href="{{ product.similar_item_url }}" target="_blank">
			{{ product.similar_item_name }}</a>
		</p>
	</div>
	{% comment %}  Include meta panel {% endcomment %}
	{% include "repository/include/misc/meta-panel.html" with item=product %}
	
	<div class="mdl-card__menu">
		<a href="{% url 'repository:add-item' type=product.item_type pk=product.id %}/?cancel={{request.path}}" title="Edit to improve.">
		<button class="mdl-button mdl-js-button mdl-button--icon" id="btn1">
          <i class="material-icons mdl-color-text--white">edit</i>
		</button>
		</a>
	</div>
{% endwith %}
</div>