{% comment %}
	Info:       Snippet small Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}

<div class="mdl-card snippet wide-card mH-auto wFull bS-1">
	<div class="mdl-card__supporting-text">
		<div class="fS-28 mdl-color-text--grey-700">	
			<a href="{{ snippet.get_absolute_url }}" title="View full article">{{ snippet.headline }}</a>
		</div>
	</div>		
	<div class="article-info">
		<div class="row fill mB4">
			<div>
				<a title="Click here to view source" href="{{ snippet.similar_item_url }}" target="_blank">
					{{ snippet.similar_item_name }}
				</a>
			</div>
			{% if snippet.is_published %}
			<div class="publish">
				<a title="Published at {{ snippet.date_published }} IST" href="#">{{ snippet.date_published|date }}</a>
			</div>
			{% endif %}			
		</div>	
		<div class="mB4">												
			{% for tag in snippet.get_tags_slugs %}
	 		<a class="hashtag pretty-link" href="{% url 'repository:tagged-snippet' slug=tag %}">
	 			<s>#</s>
				<b>{{ tag }}</b>
			</a>
			{% endfor %}								
		</div>						
	</div>
	<div class="mdl-card__supporting-text">	
		<div class="light-txt mdl-color-text--grey-800">										
		{% autoescape off %}
		{{ snippet.summary }}
		{% endautoescape %}
		</div>
	</div>												
</div>
