/*
 *
 *
 */
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #F5F5F5;
  color: #404040;
  margin-top: 70px; }

footer {
  margin-top: 60px;
  padding-top: 20px;
  background-color: #E2E1CD; }
  footer p {
    color: #38D;
    text-align: right;
    font-weight: 400; }

h1, h2 {
  font-weight: 300; }

h3, h4, h5, h6 {
  font-weight: 400; }

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-width: 0.08em 0px 0px; }

.mdl-shadow--2dp {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.contentShare {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }
  .contentShare a {
    color: rgba(0, 0, 0, 0.6); }
    .contentShare a .glyphicon {
      color: rgba(255, 85, 0, 0.8); }
    .contentShare a:hover {
      background-color: transparent;
      color: black;
      text-decoration: none; }
      .contentShare a:hover .glyphicon {
        color: #ff5500; }
  .contentShare span {
    text-transform: uppercase; }

.center {
  position: relative;
  width: 100%; }
  .center > div {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-left: 15px; }

.reduce-right-padding {
  padding-right: 0; }

.reduce-left-padding {
  padding-left: 0; }

.flashMessages {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;
  margin-bottom: 1px; }

.contentHeader {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;
  margin-bottom: 48px; }
  .contentHeader .cH-image {
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-align: center; }
    .contentHeader .cH-image img {
      height: 120px;
      width: 120px; }
  .contentHeader .cH-titles {
    margin-left: 0.25em;
    margin-right: 0.25em;
    color: #685858; }
    .contentHeader .cH-titles .cH-title {
      font-size: 2em;
      font-weight: 400; }
    .contentHeader .cH-titles .cH-subtitle {
      font-size: 1em;
      font-weight: 400;
      font-style: italic; }
  .contentHeader .cH-extra-info {
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-bottom: 10px; }
    .contentHeader .cH-extra-info span {
      font-size: small;
      font-weight: 400; }
  .contentHeader .edit-section {
    font-size: small;
    font-weight: normal;
    float: right;
    margin-top: 0.25em;
    margin-right: 0.25em; }
    .contentHeader .edit-section .bracket {
      margin-left: 0px;
      margin-right: 0px; }

.contentBody {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF; }

.cB-main-text {
  margin-left: 1em;
  margin-right: 1em;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0.01rem; }

.cB-features {
  margin-left: 1em;
  margin-right: 1em; }

.feature-title {
  font-size: 1.2em;
  font-weight: 400;
  color: #685858;
  padding-bottom: 5px; }

.books-list {
  margin-bottom: 20px;
  background-color: #E2E1CD;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.05); }
  .books-list .item {
    height: 140px;
    background-color: #FFF;
    font-size: 1em; }
  .books-list:hover {
    background-color: #CECCB6; }
  .books-list a {
    color: rgba(0, 0, 0, 0.6); }
    .books-list a:hover {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none; }

.page-block {
  background-color: rgba(102, 162, 60, 0.85);
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #fff;
  font-weight: 400; }
  .page-block:hover {
    background-color: rgba(102, 162, 60, 0.95); }
  .page-block.miss {
    background-color: #e74c3c; }

.link-block:hover {
  text-decoration: none; }

.page-nav-bar {
  text-align: right; }

.edit-info {
  font-size: small;
  font-weight: normal;
  margin: 0.25em; }

.nevigator {
  font-size: small;
  font-weight: 400;
  color: #e96707;
  margin-bottom: 10px; }
  .nevigator .arrow {
    color: #b5b5ba; }

.td-name {
  text-align: right;
  font-weight: 400; }

.td-value {
  text-align: left; }

.color-orange {
  color: #e96707; }

.color-sample1 {
  color: #00AF84; }

/*# sourceMappingURL=main.css.map */
