{% extends "activity/base.html" %}
{% load static %}

{% block title %}Activity Log | {{ sitename }}{% endblock %}

{% block navigation-header %}
{% include 'common/include/navigation-bar-head.html' with nav_url=cancel_url nav_title='Activity Log' nav_css='activity' %}
{% endblock %}

{% block main %}
	<section class="pT-8">
		<div class="_layout layout-L mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="card-xl row r2l">
					<div class="mR-8">
					{% for tab in query_tabs %}
						<a href="{{ tab.url }}" class="md-tabs__tab {{ tab.css }}" title="{{ tab.help_text }}">
							<span class="tab-label bL">{{ tab.name }}</span>
						</a>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% comment %} Statistics graph {% endcomment %}
	{% if actions and not actions.has_previous %}
	<section class="">
		<div class="_layout layout-L mdl-grid">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript">
				google.charts.load('current', {packages: ['corechart', 'bar']});
				google.charts.setOnLoadCallback(drawStuff);
				
				function drawStuff() {
					var data = google.visualization.arrayToDataTable([
							['Action', {% for s in stats %}'{{ s.name }}',{ role: 'annotation' },{% endfor %}],
							['Count', {% for s in stats %}{{ s.value }},'{{ s.name }}',{% endfor %}],
						]);
					
					var options = {
						title: '',
						isStacked: 'false',//'absolute/relative/percent'
						height: 120,
						chartArea: {width: '80%', height: '60%'},
						legend: { position: "none" },
						hAxis: {
							title: '',
							minValue: 0,
						},
						vAxis: {
							title: ''
						}
					};
					var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
					chart.draw(data, options);
				};
			</script>
			<div class="mdl-cell mdl-cell--12-col">
				<div class="activity wide-card bCw wFull">
					<div id="chart_div" style=""></div>
				</div>
			</div>
		</div>
	</section>
	{% endif %}

	<section class="pB-16">
		<div class="_layout layout-sLs mdl-grid">
			<div class="__l mdl-cell mdl-cell--2-col mdl-cell--top pA-0">
			</div>
			<div class="__c mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet pA-0 mB-32">
			{% if actions %}
				{% include "activity/include/list.html"%}
				{% include "activity/include/pagination-bottom.html" with items=actions %}
			{% else %}{% comment %} Display the notification {% endcomment %}
				{% include "activity/include/empty-result.html" %}
			{% endif %}
			</div>
			<div class="__l mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--12-col-phone mdl-cell--top pA-0 mB-32">
				<div class="wide-card">
					<div class="section-title">
						<h3 class="c-grey1">Last Fortnight</h3>
					</div>
					<div class="pB-8">
						<div id="id-contributors-loading" class="action-button wFull oN hidden">Loading contributors...</div>
					</div>
				</div>
				<div id="id-contributors" data-url="{% url 'activity:ajax-contributors' %}">
				</div>
			</div>
		</div>
	</section>
{% endblock %}