{% extends "dashboard-base.html" %}

{% block meta %}
    {{block.super}}
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
{% endblock %}

{% block body %}
{% block messages %}
{% include "common/include/message-panel.html" with messages=messages only %}
{% endblock %}
<div class="centered">
    <div class="head__banner small">
        <div class="mdl-layout-title logo site-name">
            <a href="/">poetry learner</a>
        </div>
    </div>
</div>

<div class="pT-48 pB-16">
    <div class="_layout layout-L mdl-grid">
        <div class="__c mdl-cell mdl-cell--12-col pA-0">
            <div class="banner">
            {% block main %}{% endblock %}
            </div>
            {% block footer %}
                {% include "common/include/footer.html" %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
