{% extends "dashboard-base.html" %}

{% block body %}
{% block messages %}
{% include "common/include/message-panel.html" with messages=messages only %}
{% endblock %}
<section class="centered">
	<div class="head__banner small">
		<div class="mdl-layout-title logo site-name">
	    	<a href="/">poetry learner</a>
		</div>
	</div>				
</section>

<div id="priSect" class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">			
		<section class="__c mdl-cell mdl-cell--12-col pA-0">
			<div class="banner">
{% block main %}{% endblock %}
			</div>
		</section>			
	</div>		
</div>
{% endblock %}
