{% extends "account/base.html" %}
{% load static %}
{% load account socialaccount %}

{% block title %}Login to {{ sitename }}{% endblock %}

{% block main %}
{% get_providers as socialaccount_providers %}
<div class="login-card bS-2 wFull">
    <div id="id-login-page1">
        <h1 class="banner tAc">Welcome.</h1>
       {% if socialaccount_providers %}
        <div id="id-social-login">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
       {% endif %}
        <div class="button-rounded border wFull mB-16 h-shadow social-icon"
            onclick="document.getElementById('id-login-page1').classList.add('hidden');
                    document.getElementById('id-login-page2').classList.remove('hidden');
                    return false;">
            <span class="d-ib mR-8 c-greenNormal">
            {% include "common/svg/person.html" %}
            </span>
            <span class="fS14">Log in with user account</span>
        </div>
    </div>
    <div id="id-login-page2" class="hidden">
        <div class="button-rounded wFull">
            <span class="fS14">Log in with user account</span>
        </div>
        <form class="login a-mdl-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <fieldset>
                <div id="div_id_login" class="form-element">
                    <label for="id_login">
                        <input id="id_login" autofocus="autofocus" maxlength="30" name="login" placeholder="Username" type="text" value="{{ form.login.value|default_if_none:'' }}"/>
                    </label>
                {% if form.login.errors %}
                    {% for error in form.login.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
                {% endif %}
                </div>
                <div id="div_id_password" class="form-element">
                    <label for="id_password">
                        <input id="id_password" name="password" placeholder="Password" type="password"/>
                    </label>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
                {% endif %}
                {% for error in form.non_field_errors %}
                    <span class="errormsg">{{ error }}</span>
                {% endfor %}
                </div>
                <div id="div_id_remember" class="form-element lH-1">
                    <label for="id_remember">
                        <input id="id_remember" name="remember" type="checkbox" />
                        <span>{{form.remember.label}}</span>
                    </label>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </fieldset>
            <div class="">
                <button class="button-rounded border wFull h-shadow bc-greenNormal login-btn" type="submit">
                    <span>Log In</span>
                </button> 
            </div>
            {% comment %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endcomment %}
        </form>
        <div class="button-rounded mT-16"
            onclick="document.getElementById('id-login-page1').classList.remove('hidden');
                    document.getElementById('id-login-page2').classList.add('hidden');
                    return false;">
            <span class="c-blue3">
                {% include "common/svg/arrow_back.html" %}
            </span>
            <span class="fS14">All Log in options</span>
        </div>
    </div>
{% if form.errors %}{% comment %} Show login page2 {% endcomment %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    var showLoginPage2 = function(){
        document.getElementById('id-login-page1').classList.add('hidden');
        document.getElementById('id-login-page2').classList.remove('hidden');
    };
    showLoginPage2();
});
</script>
{% endif %}
</div>
{% endblock %}
