{% extends "account/base.html" %}
{% load staticfiles %}

{% block title %}Log Out from {{ sitename }}{% endblock %}

{% block main %}
	<div class="login-card transp bS-1 wFull">
		<div class="tAc">
			<h1>Log Out</h1>
			<p>Are you sure you want to log out?</p>
		</div>
		<form class="a-mdl-form" method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button class="wFull mdl-button mdl-button--raised login-btn" type="submit">Log Out</button>
		</form>
	</div>
{% endblock %}
