{% comment %}
	Info: Bookmark button
	Requires: 1) 'bookmark' or `item` context of an item.
			  2) bookmark.js
{% endcomment %}
{% if request.user.is_authenticated %}
	{% if bookmark %}
	<button class="action-button bookmark-btn bookmark-js-button oN true" title="Remove from my Bookmarks"
		data-id="{{ bookmark.object_id }}" data-type="{{ bookmark.content_type.id }}" data-bid="{{ bookmark.id }}">
		{% include "common/svg/bookmark.html" %}
		<span class="action-button__text">Read later</span>
	</button>
	{% elif item %}
	<button class="action-button bookmark-btn bookmark-js-button oN" title="Send to my Bookmarks to read again later"
		data-id="{{ item.id }}" data-type="{{ item.get_content_type.id }}" data-bid="0">
		{% include "common/svg/bookmark.html" %}
		<span class="action-button__text">Read later</span>
	</button>
	{% endif %}
{% else %}
	<button class="action-button bookmark-btn oN clickcard-js-button"
		title="Send to my Bookmarks to read again later"
		data-header="Want to read this again later?"
		data-message="Log in to add this poetry to Bookmarks."
		data-url="{% url 'account_login' %}?next={{ item.get_absolute_url }}">
		{% include "common/svg/bookmark.html" %}
		<span class="action-button__text">Read later</span>
	</button>	
{% endif %}