{% comment %}
    Info: Feedback Card
{% endcomment %}
{% load common_tags %}
<div class="card-xl feedback bCw bS-1">
    <div class="p-16">
        <div class="fS16 title-text c-31 mT-16">
            {{ feedback.get_text|linebreaks }}
        </div>
    </div>
    <div class="pLR-16 pB-16">
        <div class="mT-8 row fill">
            <div class="light-txt">
                <span>Given by</span>
                {% if feedback.get_user %}
                <a class="h-link" href="{{ feedback.get_user.profile.get_absolute_url }}" title="View user profile">
                    {{ feedback.get_user.username }}
                </a>
                {% elif feedback.email %}
                <span class="b">{{ feedback.email }}</span>
                {% else %}
                <span class="b">Anonymous user</span>
                {% endif %}
            </div>
            <div class="light-txt">
                <span>{{ feedback.date_added }} IST</span>
            </div>
        </div>
        <div class="mT4 row fill">
            <div class="light-txt">
                <span>Page: </span>
                <a class="h-link" href="{{ feedback.get_page_url }}" title="{{ feedback.get_page_url }}">URL</a>
            </div>
            {% if feedback.content_object %}
            <div class="light-txt">
                <span>Content: </span>
                <a class="h-link" href="{{ feedback.get_content_url }}" title="{{ feedback.get_content_url }}">URL</a>          
            </div>
            {% endif %}
        </div>
    </div>
</div>