{% comment %}
    Info: Feedback Card
{% endcomment %}
{% load common_tags %}
<div class="card-xl feedback bCw bS-3">
    <div class="p-16">
        <div class="fS16 title-text c-31">
            {{ feedback.get_text|linebreaks }}
        </div>
    </div>
    <div class="pLR-16">
        <div class="mT4 row fill">
            <div class="light-txt">
                <span>Given by</span>
                {% if feedback.get_user %}
                <a class="h-link" href="{{ feedback.get_user.profile.get_absolute_url }}" title="View user profile">
                    {{ feedback.get_user.username }}
                </a>
                {% elif feedback.email %}
                <span class="b">{{ feedback.email }}</span>
                {% else %}
                <span class="b">Anonymous user</span>
                {% endif %}
            </div>
            <div class="light-txt">
                <span>{{ feedback.date_added }} IST</span>
            </div>
        </div>
        <div class="mT4 row fill">
            <div class="light-txt">
                <span>Page: </span>
                <a class="h-link" href="{{ feedback.get_page_url }}" title="{{ feedback.get_page_url }}">URL</a>
            </div>
            {% if feedback.content_object %}
            <div class="light-txt">
                <span>Content: </span>
                <a class="h-link" href="{{ feedback.get_content_url }}" title="{{ feedback.get_content_url }}">URL</a>          
            </div>
            {% endif %}
        </div>
    </div>
    <div class="p-16 mT-8 bT-1">
        <div class="">
            {% if feedback.get_action_taken %}
            <span class="b c-blue3">Status: </span>
            <span>{{ feedback.get_action_taken }}</span>
            <div class="light-txt">[{{ feedback.date_responded }} IST]</div>
            {% endif %}
        </div>
        <div class="row r2l">
            {% if request.user|has_group:'administrator' %}
            <div class="">
                <a class="action-button" href="{{ feedback.get_absolute_url }}" title="Respond to feedback">
                    {% include 'common/svg/reply.html' %}
                    <span class="b c-blue3">Comment</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>