{% comment %}
	Info: Contributor Card
{% endcomment %}
{% load common_tags %}
<div class="wide-card bCw mH-auto wFull bS-1">
	<div class="p-16 row fW-no fill">
		<div class="row">
			<div class="avatar xsm user">
			{% include "common/svg/user.html" %}
			</div>
			<div>
				<div class="fS-12 title-text">
					<span>{{ action.get_verb }}</span>
					<a class="h-link" href="{{ user.profile.get_absolute_url }}">{{ user.profile.get_first_name }}</a>
				</div>
				<div class="fS10 light-txt">
					<span>Last update:</span>
					<span>{{ user.lastest_action_date|nicetime }}</span>
				</div>
			</div>
		</div>
		<div>
			<div>
				<span class="fS24">{{ user.num_actions }}</span>
				<span class="fS10 light-txt">contributions</span>
			</div>
		</div>
	</div>
</div>
