{% comment %} Minimal header for login pages {% endcomment %}
{% load staticfiles %}
<header class="metabar loginpage">
    <div class="metabar-inner u-height56">
        <div class="metabar-block u-flex0">
            <div class="d-ib">
                <a class="siteNav-logo" href="/" title="Go to poetry learner Home">
                    <img class="site-name" src="{% static "img/logo_poetry_bw_154x56dp.png" %}" alt="poetry learner" height="36" width="auto">
                </a>
            </div>
        </div>
    </div>
</header>
