{% comment %} Minimal header for login pages {% endcomment %}
<header class="metabar js-metabar">
    <div class="metabar-inner u-height56">
        <div class="metabar-block u-flex1">
            <div class="u-xs-show d-ib mL-16">
                <a class="siteNav-logo" href="/">
                    <span class="site-name u-xs-show">poetry learner</span>
                </a>
            </div>
        </div>
        <div class="metabar-block u-flex0">
            <div class="buttonSet">
            </div>
        </div>
        <div class="position-abs wFull tAc u-top0 u-right0 u-xs-hide">
            <a class="siteNav-logo" href="/">
                <span class="site-name u-xs-hide">poetry learner</span>
            </a>
        </div>
    </div>
</header>
