{% extends "proofreader/base.html" %}
{% load staticfiles %}
{% load poetry_tags %}
{% load humanize %}

{% block title %}Proofreader | {{ sitename }}{% endblock %}

{% block header %}{% comment %} Don't show header here {% endcomment %}{% endblock %}
{% block drawer %}{% comment %} Don't show drawer here {% endcomment %}{% endblock %}

{% block navigation-header %}
{% include 'common/include/navigation-bar-head.html' with nav_title='Proofreader' nav_close='/' nav_css='repository' %}
{% endblock %}

{% block search %}{% comment %} Don't show search box here {% endcomment %}{% endblock %}

{% block main %}
{% comment %} PRIMARY POETRY {% endcomment %}
<section class="pT-8 pB-16">
    <div class="_layout layout-L mdl-grid">
        <div class="__c mdl-cell mdl-cell--12-col">
            <div class="card-s">
                <div class="p-16 tAc">
                    <div class="mB-32">
                        <div class="c-y svg48">
                        {% include "common/svg/content_paste.html" %}
                        </div>
                        <div class="tAc">
                            <h3>Proofread</h3>
                            <div class="fS26 c-91">{% get_poetry_count unpublished as pcount %}{{ pcount|intcomma }}</div>
                            <h3>Poetry</h3>
                        </div>
                    </div>
                    <div class="row center fS14">
                        <div class="pLR-8">Read</div>
                        <div class="bL bR pLR-8">Edit</div>
                        <div class="pLR-8">Publish</div>
                    </div>
                    <div class="mT-16">
                        <a class="card mdl-button " href="{% url 'proofreader:poetry' %}">
                            <span>start</span>
                            <span class="c-blue3">{% include "common/svg/arrow_forward.html" %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}