{% extends "mdl-base.html" %}
{% block title %}Welcome!{% endblock %}
{% block body %}

<div id="priSect" class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">			
		<section class="__c mdl-cell mdl-cell--12-col pA-0">
			<div class="poetry-card wFull">
				<div class="banner">
					<h1 class="mdl-color-text--grey-500">
						<i class="material-icons" role="presentation">format_quote</i>
					</h1>					
					<h1>
memory is an autumn leaf that murmurs in the wind and then is heard no more.
					</h1>
					<h2 class="tAr">Kahlil Gibran</h2>
					<a id="id-home-btn" href="#" ><i class="material-icons" role="presentation">home</i></a>
					<span for="id-home-btn" class="mdl-tooltip">Home</span>
				</div>				
			</div>
		</section>			
	</div>		
</div>	

{% endblock %}