{% extends "socialaccount/base.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}
<div class="login-card transp bS-1 tAc wFull">
    <h1>Sign Up</h1>	
	<div class="info-txt">
	{% with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
	{{site_name}}. As a final step, please complete the following form:{% endwith %}
	</div>
	
	<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
		{% csrf_token %}
		<fieldset>				
			<div id="div_id_username" class="form-element">
				<label for="id_username">
					<input autofocus="autofocus" id="id_username" name="username" placeholder="Username" type="text" value="{{ form.username.value|default_if_none:'' }}"/>
				</label>
			{% if form.username.errors %}
			    {% for error in form.username.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
			{% endif %}
			</div>		
			<div id="div_id_email" class="form-element">
				<label for="id_email">
					<input id="id_email" name="email" placeholder="E-mail address" type="email" value="{{ form.email.value|default_if_none:'' }}"/>
				</label>
			{% if form.email.errors %}
			    {% for error in form.email.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
			{% endif %}
			</div>
		</fieldset>
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<div class="p-8">
			<button class="wFull mdl-button mdl-button--raised login-btn" type="submit">Sign Up</button> 
		</div>
	</form>
</div>
{% endblock %}