{% comment %}
	Info:     Bookmark button
	Requires: 1)`item` context of an item.
			  2) bookmark.js
{% endcomment %}
{% load staticfiles %}
{% load bookmark_tags %}
		{% if request.user.is_authenticated %}
		{% bookmark_by_user request.user on item as bookmark %}
		{% if bookmark %}
			<button class="action-button bookmark-btn oN true" title="Remove from my Bookmarks"
				data-id="{{ item.id }}" data-ct="{{ item.get_content_type.id }}" data-bid="{{ bookmark.id }}">
				{% include "common/svg/bookmark.html" %}
				<span class="action-button__text">Read later</span>
			</button>
		{% else %}
			<button class="action-button bookmark-btn oN" title="Send to my Bookmarks to read later"
				data-id="{{ item.id }}" data-ct="{{ item.get_content_type.id }}" data-bid="0">
				{% include "common/svg/bookmark.html" %}
				<span class="action-button__text">Read later</span>
			</button>
		{% endif %}
		{% else %}
			<button class="action-button bookmark-btn oN"
				title="Send to my Bookmarks to read later">
				{% include "common/svg/bookmark.html" %}
				<span class="action-button__text">Read later</span>
			</button>	
		{% endif %}