{% comment %}
	Info:       Breadcrumb for an item
	Requires:   `obj` context of an item, and 'item_type' context.
{% endcomment %}
<div class="pT-8 pB-8">
	<div class="_layout mW-512">
		<div class="breadcrumbs wFull">{% comment %}
			<a href="{% url 'repository:home' %}">Repository</a>
			<span> / </span>
			<a href="{% url 'repository:view' %}">data</a>
			<span> / </span>{% endcomment %}
			<a href="{% url 'repository:list' item_type=item_type %}">{{ item_type }}</a>
			<span> / </span>
			<span>{{ obj.headline }}</span>
		</div>
	</div>
</div>