{% comment %}  
	Floating Add item button(circle), displayed at the right bottom	
{% endcomment %}
{% if request.user.is_authenticated %}
<div class="floating-btn btm">
	<div class="jB">
		<button class="y bg-{{item_type}} button-fab oN" onclick="location.href='{% url 'repository:add-item' type=item_type %}?cancel={{request.path}}'">
			{% include "common/svg/plus.html" %}
		    <span class="visuallyhidden">Add</span>
	    </button>
		<label class="bTag">
			<div class="tv">Add {{item_type}}</div>
		</label>
	</div>
</div>
{% endif %}