{% comment %}
	Info:       Meta panel of the item
	Requires:   `item` context of an item.
	Note:       Use inside mdl-card div
{% endcomment %}
{% load humanize %}
{% load common_tags %}
<div class="meta-panel mdl-card__actions mdl-card--border">
	<div id="metaPanelData" class="hidden">
		<div class="row fill mB-8">
			<div class="light-txt">
				<div>
					<span>Last edited by</span> 
					<a title="View user" href={{ item.get_last_edit_user.profile.get_absolute_url }}>
						{{item.get_last_edit_user.profile.get_first_name}}
					</a>
				</div>
				<div title="Last edited at {{ item.get_last_edit_time }} IST">
					<time itemprop="dateModified" datetime="{{ item.get_last_edit_time|date:'c' }}">
						{{ item.get_last_edit_time |nicetime }}
					</time>
				</div>
			</div>
			<div class="light-txt">
				<div>
					<span>Added by</span> 
					<a title="View user" href={{ item.get_first_edit_user.profile.get_absolute_url }}>
						{{item.get_first_edit_user.profile.get_first_name}}
					</a>
				</div>
				<div title="Added at {{ item.get_first_edit_time }} IST">
					<time itemprop="dateCreated" datetime="{{ item.get_first_edit_time|date:'c' }}">
						{{ item.get_first_edit_time|niceday }}
					</time>
				</div>
			</div>
		</div>
		<div class="row fill">
			<div class="light-txt mB4">
				<span>Similar item:</span>
				<a itemprop="sameAs" title="Reference web page that unambiguously indicates the item's identity." href="{{ item.similar_item_url }}">
					{{ item.similar_item_name }}
				</a>
			</div>
			<div class="light-txt mB4" itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
				<link itemprop="interactionType" href="http://schema.org/ReadAction"/>
				<span>Views: </span>
				<span class="bignum" itemprop="userInteractionCount" content="12234002">12,234,002</span>	                                       
			</div>
		</div>
		<div id="metaPanelBtnL" class="tAc mT-8">
			<button class="action-button wFull oN" title="Hide meta data"
				onclick="document.getElementById('metaPanelData').classList.add('hidden');
						document.getElementById('metaPanelBtnM').classList.remove('hidden');
						return false;">
				{% include "common/svg/expand_less.html" %}
			</button>
		</div>
	</div>
	<div id="metaPanelBtnM" class="tAc mT-8">
		<button class="action-button wFull oN" title="Show meta data"
			onclick="document.getElementById('metaPanelBtnM').classList.add('hidden'); 
					document.getElementById('metaPanelData').classList.remove('hidden');
					return false;">
			{% include "common/svg/expand_more.html" %}
		</button>
	</div>
</div>