{% comment %}
	Info:       Book form (full)
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}

<form id="id-add-item-form" method="post" enctype="multipart/form-data" class="a-mdl-form">
	{% csrf_token %} 
	{% include "repository/include/forms/common-form-errors.html" %}
	<fieldset>
		{% include "repository/include/fields/name.html" %}
		{% include "repository/include/fields/isbn.html" %}
		{% include "repository/include/fields/creator-select2.html" %}
		{% include "repository/include/fields/language.html" %}
		<div id="id-extra-btn" class="mB-16">
			<div class="action-button wFull tAl" title="Add more fields">
				{% include "common/svg/more_horiz.html" %}
				<span class="action-button__text bold">Add some more fields</span>
			</div>
		</div>
		<div id="id-extra-fields" class="hidden">
		{#{% include "repository/include/fields/contributor.html" %}#}
		{% include "repository/include/fields/same_as.html" %}
		{% include "repository/include/fields/publisher.html" %}
		{% include "repository/include/fields/keywords.html" %}
		{% include "repository/include/fields/license.html" %}
		{% include "repository/include/fields/description.html" %}
		</div>
	</fieldset>
	{% if cancel_url %}
	<input type="hidden" name="cancel" value="{{ cancel_url }}"/>
	{% endif %}	
	<div class="tAr">
		<input class="mdl-button" type="button" name="cancel" value="Cancel" id="id-form-cancel" onclick="location.href=&#39;{{ cancel_url }}&#39;"/>	
		<input class="mdl-button mdl-button--colored" type="submit" name="submit" value="Save changes" id="id-form-submit"/> 
	</div>
</form>
{% comment %} Common add-item-form script {% endcomment %}
{% include "repository/include/forms/common-form-scripts.html" %}