{% comment %}
	Info:       Place form (full)
	Requires:   css and js of static/mdl/*
	Note:       Don't forget to load staticfiles #}
{% endcomment %}

<form id="id-place-form" method="post" enctype="multipart/form-data" class="a-mdl-form">
	{% csrf_token %} 
	<span class="errormsg">{{ form.non_field_errors }}</span>
	<fieldset>
		{% include "repository/include/fields/name.html" %}
		{% include "repository/include/fields/has_map.html" %}
		{% include "repository/include/fields/description.html" %}			
		{% include "repository/include/fields/same_as.html" %}
		<div class="mB-16">
			<a class="action-button" title="Add more fields" onclick="document.getElementById('id-extra-fields').classList.toggle('hidden'); this.classList.add('hidden'); return false;">							
	            <i class="material-icons" role="presentation">more_horiz</i>
	            <span class="action-button__text">More fields</span>			                            
			</a>
		</div>
		<div id="id-extra-fields" class="hidden">		
		{% include "repository/include/fields/address.html" %}
		</div>
	</fieldset>
	<div class="tAr">
		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" name="submit" value="Save changes" id="id-form-submit"/> 
		<input class="mdl-button mdl-js-button mdl-button--raised mL-16 mR-16" type="button" name="cancel" value="Cancel" id="id-form-cancel" onclick="location.href=&#39;{{ cancel_url }}&#39;"/>
	</div>
</form>