{% extends "bookmarks/base.html" %}
{% comment %}
    Info: Bookmark list
{% endcomment %}
{% load humanize %}
{% block title %}My bookmarks | {{ sitename }}{% endblock %}

{% block navigation-header %}
{% include 'common/include/navigation-bar-head.html' with nav_title='Bookmarks' nav_css='feedback' %}
{% endblock %}

{% block main %}
    <section class="pT-8">
        <div class="_layout layout-L mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="card-l row fill">
                    <div class="search-stats mL-8">
                        <span class="bookmark-btn true svg32">
                        {% include "common/svg/bookmark-border.html" %}
                        </span>
                        <span class="fS16">{{ bookmarks_poetry.paginator.count|intcomma }} poetry</span>
                    </div>
                    <div class="search-stats mR-8">
                        <span>Page {{ bookmarks_poetry.number }} of {{ bookmarks_poetry.paginator.num_pages }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pB-16">
        <div class="_layout layout-L mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
            {% if bookmarks_poetry %} {% comment %} Display the list {% endcomment %}
                {% for bookmark in bookmarks_poetry %}
                    {% if bookmark.content_object %}
                    {% include "repository/include/cards/poetry-sm.html" with poetry=bookmark.content_object %}
                    {% else %}
                    {% include "bookmarks/include/deleted-poetry-card.html" with bookmark=bookmark %}
                    {% endif %}
                {% endfor %}
                {% include "common/include/pagination-bottom.html" with items=bookmarks_poetry %}
            {% else %}{% comment %} Display the notification {% endcomment %}
                <div class="mdl-cell mdl-cell--12-col mT0 mB0">
                {% include "bookmarks/include/empty-result.html" %}
                </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock %}