{% extends "articles/article-base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta %}
	<meta name="description" content="">
	<meta name="author" content="" >

{% endblock %}

{% block extra-style %}
	<link rel="stylesheet" href="{% static "js/ime/css/jquery.ime.css" %}"/>
{% endblock %}

{% block title %}
	Add an article
{% endblock %}

{% block main %}
	<form method="post">
		{% csrf_token %}
		
		<div id="div_id_title" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input id="id_title" class="mdl-textfield__input" name="title" type="text" maxlength="200" autocomplete="off"/>
			<label class="mdl-textfield__label" for="id_title">Title...</label>
			<div class="mdl-textfield__error">error</div>
		</div>
		
		<div id="div_id_content" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<textarea id="id_content" class="mdl-textfield__input" name="content" type="text" rows="5"></textarea>
			<label class="mdl-textfield__label" for="id_content">Content...</label>
			<div class="mdl-textfield__error">error</div>
		</div>	
		
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input id="id_page_num" class="mdl-textfield__input" name="page_num" type="text" pattern="[0-9]*(\.[0-9]+)?" autocomplete="off"/>
			<label class="mdl-textfield__label" for="id_page_num">Page number...</label>
			<span class="mdl-textfield__error">Input is not a valid number!</span>
		</div>			
		
		
		<button class="mT-8 mdl-button mdl-js-button" name="submit" value="submit">Submit</button>
	</form>
    	
			{% crispy form %}
			
			<!-- messages -->
			{% if messages %}
				<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
				</ul>
			{% endif %}

	
{% endblock %}

{% block scripts %}
	  
	<script type="text/javascript" src="{% static "js/ime/libs/rangy/rangy-core.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.selector.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.preferences.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ime/src/jquery.ime.inputmethods.js" %}"></script>
	
	<script>
		$( document ).ready( function () {
			/* $( 'input, textarea, [contenteditable]' ).ime(); */
			$( 'textarea' ).ime();
		} );
	</script>

{% endblock %}


