{% comment %}
	Info:       Fieldset for classes derived from CreativeWork.
	Requires:   Must be included in the Form of child classes of CreativeWork 
	Note:       Don't forget to load staticfiles #}
{% endcomment %}

	<fieldset>
		<div id="div_id_name" class="form-element">
			<label for="id_name">
				<strong>{{form.name.label}}</strong>
				<input id="id_name" class="form-input" name="name" type="text" spellcheck="false" autocomplete="off" maxlength="300" value="{{ form.name.value|default_if_none:'' }}" required/>
			</label>			
		{% if form.name.errors %}
		    {% for error in form.name.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
		{% endif %}
			{% if form.name.help_text %}<span class="help-text">{{ form.name.help_text|safe }}</span>{% endif %}			
		</div>

		<div id="div_id_description" class="form-element">	
			<label for="id_description">
				<strong>{{form.description.label}}</strong>
				<textarea id="id_description" class="form-input" name="description" rows="2">{{ form.description.value|default_if_none:'' }}</textarea>
			</label>			
		{% if form.description.errors %}
		    {% for error in form.description.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
		{% endif %}
		{% if form.description.help_text %}<span class="help-text">{{ form.description.help_text|safe }}</span>{% endif %}				
		</div>		
		
		<div id="div_id_same_as" class="form-element">	
			<label for="id_same_as">
				<strong>{{form.same_as.label}}</strong>
				<input autocomplete="off" class="form-input" id="id_same_as" maxlength="200" name="same_as" type="url" value="{{ form.same_as.value|default_if_none:'' }}"/>
			</label>				
		{% if form.same_as.errors %}
		    {% for error in form.same_as.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
		{% endif %}
		{% if form.same_as.help_text %}<span class="help-text">{{ form.same_as.help_text|safe }}</span>{% endif %}					 	
		</div>			
	</fieldset>
