html, body {
    font-family: Arial,sans-serif;
    background: #FFF none repeat scroll 0% 0%;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    position: absolute;
    height: 100%;
    min-width: 100%;
    font-size: 13px;
    color: #404040;
    direction: ltr;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

.mdl-poetry .mdl-poetry__post {
    max-width: 1080px;
    padding: 0px;
    display: flex;
    width: 100%;
    margin: 0px auto;
    flex-shrink: 0;
}
._layout {
    max-width: 1080px;
    padding: 0px;
    width: 100%;
    margin: 0px auto;
}
.layout-sLs .__l,
.layout-sLs .__c,
.layout-sLs .__r {
	padding: 0px;
}
.layout-L {
}
.layout-mL {
}

/* error cards e.g. 404, 403 etc */
.err-card {
	text-align: center;
	max-width: 512px;
	padding: 8px;
	margin: 0px auto;
}
.err-card h1 {
	margin: 8px;
    font-family: "Open Sans",arial;
    color: #555;
    font-size: 42px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}
.err-card h2 {
    font-family: "Open Sans",arial;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.err-card p {
    margin: 0px 0px 10px;
    color: #555;
    font-size: 14px;
}

.mdl-poetry .table--large .mdl-data-table {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.mdl-poetry .mdl-card .mdl-card__supporting-text {
	width: 100%;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.mdl-poetry .mdl-card__supporting-text.article-content {
	font-size: 14px;
	line-height: 20px;
}

.author-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.author-avatar-md {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.author-avatar-sm {
    border-radius: 50%;
    margin: 24px auto 12px;    
	border: 2px solid #FFF;
}
.avatar-xsm {
    border-radius: 50%;   
	border: 2px solid #FFF;
}
.mdl-poetry__post .book-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.mdl-poetry__post .book-avatar-small {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.mdl-poetry .title .title__extras,
.mdl-poetry .title__extras {
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
}

.mdl-poetry .title__extras .mdl-button {
	color: inherit;
	border-radius: 24px;
	text-transform: none;
	background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.4);
}
.mdl-poetry .title__extras .mdl-button:hover {
	background: rgba(255, 255, 255, 0.6);
}

.mdl-poetry .section-title h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}


.mdl-card__actions {
    box-sizing: border-box;
    align-items: center;
}

.mdl-poetry .mdl-menu__item > a {
    text-decoration: none;
    color: inherit;
}

/* CARDS */
.mdl-card__title {
	min-height: 176px;
}
.wide-card {
	max-width: 620px;
	margin: 0px auto;
}
.poetry-card {
	max-width: 512px;
	margin: 0px auto;
}
.poetry-card .mdl-card__title {
	height: 176px;
/*height: 128px;*/
/*background: url('../img/header6.jpg') top / cover;*/
}
.wide-card .mdl-card__title-text,
.poetry-card .mdl-card__title-text {
	font-size: 32px;
}

.poetry-card--md {
	min-height: auto;
	max-width: 512px;
	margin: 0px auto 16px;	
}
.poetry-card--md .mdl-card__supporting-text {
	padding: 0px 16px;
	font-size: 14px;
	white-space: pre-line;
}
.poetry-card--md .mdl-card__title {
	flex-wrap: wrap;
}
.poetry-card--md .mdl-card__title-text {
	font-size: 20px;
	font-weight: 400;
}
.poetry-card--md .mdl-card__title-text:hover a {
	color: #74A0B5;
	
}

.poetry-card--sm {
	min-height: auto;
	max-width: 512px;
	margin: 0px auto 8px;	
	padding: 8px;
}
.poetry-card--sm .title {
	margin: 8px;
	color: #333;
	font-size: 14px;
	font-weight: 500;
}
.poetry-card--sm .text {
	margin-left: 8px;
	color: #757575;
	white-space: pre-line;
	font-size: 13px;
	line-height: 18px;
}
.poetry-card--sm:hover .title {
	color: #167AC6;
}
.poetry-card--sm:hover {
	text-decoration: none;
}

/* flash msg/notification section */
#msgPanel,
.msg-panel {
	background-color: rgba(219, 68, 55, 1);
	color: white;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.msg-card {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.msg-card .action-button--small {
	color: white !important;
}
.flash-msg > * {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}
.flash-msg i {
    margin-right: 8px;
}

/* Book cards */
.book-card--sm {
	min-height: auto;
	margin-bottom: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.title-divider {
	height: 75%;
	max-width: 40%;
	text-align: center;
	padding: 8px;
	margin: 8px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.book-id {
	text-transform: uppercase;
}

/* Author cards */
.author-card--sm {
	min-height: auto;
	margin-bottom: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.author-card--md {
	min-height: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	margin: 0px auto;
}
.author-card--lg {
	max-width: 512px;
	margin: 0px auto;
}
.author-card--sm .mdl-card__supporting-text,
.author-card--md .mdl-card__supporting-text {
	padding-top: 0px;
}
.author-card--lg .mdl-card__supporting-text {
	color: rgba(0, 0, 0, 0.77);
}
.author-card--sm .mdl-card__title,
.author-card--md .mdl-card__title,
.author-card--lg .mdl-card__title {
	flex-direction: column;
	align-items: center;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.column .mdl-card__title-text {
    align-self: flex-start;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: left;
}
.row.fill {
	justify-content: space-between;
}
.author-card--lg .mdl-card__title {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}
.author-card--sm .avatar,
.author-card--md .avatar,
.author-card--lg .avatar {
    border-radius: 50%;
    margin: 24px auto 12px;
    display: block;
	border: 2px solid #FFF;
}
.author-card--lg i.avatar {
	width: 120px;
	height: 120px;
	font-size: 120px;
	opacity: 0.80;
}
.author-card--sm i.avatar,
.author-card--md i.avatar {
	width: 90px;
	height: 90px;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.34);
}
.author-card--sm .title-text,
.author-card--md .title-text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author-card--lg .title-text {
	font-weight: 400;
	font-size: 24px;
	line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author-card--sm .extras,
.author-card--md .extras {
	color: rgba(0, 0, 0, 0.54);
}
.author-card--sm .extras,
.author-card--md .extras,
.author-card--lg .extras {
    text-overflow: ellipsis;
    white-space: normal;
    word-break: keep-all;
	font-size: 14px;
}
.author-card--sm .extras span,
.author-card--md .extras span,
.author-card--lg .extras span {    
    vertical-align: middle;
}
.author-card--sm .action,
.author-card--md .action {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.author-card--md .action {
	color: #3F51B5;
}
.author-card--sm .action:hover {
	text-decoration: none;
}
.author-card--sm .action.mdl-button:hover,
.author-card--md .action.mdl-button:hover {
	color: white;
	background-color: rgba(219, 68, 55, 0.90); }
.author-card--sm .action.mdl-button:focus:not(:active),
.author-card--md .action.mdl-button:focus:not(:active) {
	color: white;
	background-color: rgba(219, 68, 55, 1); }
.author-card--sm .action.mdl-button:active,
.author-card--md .action.mdl-button:active {
	color: white;
	background-color: rgba(219, 68, 55, 1); }

@media (min-width: 480px) and (max-width: 839px) {
	.author-card--md .info {
		display: none !important;
	}
}

.info-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: auto;
}

.article-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    height: auto;
}
.article-info.mdl-card__supporting-text {
	padding: 0px 16px;
}

.meta {
	padding: 0px 8px;
}
.meta .meta-name {
	font-size: 12px;
	font-weight: 400;
	color: #919191;
}
.meta .meta-val--bignum {
	font-size: 14px;
	font-weight: 400;
	color: #616161;
}

.mdl-poetry .mdl-card__actions.nav-panel {
	padding: 4px;
}
.mdl-poetry .mdl-card__actions.loading-bar {
	padding: 0px;
}
.mdl-poetry .mdl-card__actions.status-panel {
	padding: 8px;
	font-size: 14px;
}
.mdl-poetry .mdl-card__actions.action-panel {	
	font-size: 14px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}
.mdl-poetry .action-panel .material-icons {
	font-size: 20px;
}
.mdl-poetry .action-panel .material-icons.color-used { 
	color: #ED4255;
}
.mdl-poetry .action-button {
    background: none repeat scroll 0px 0px transparent;
    border: medium none;
    border-radius: 2px;
    color: #919191;
    position: relative;
    /*height: 36px;*/
    min-width: 64px;
    padding: 0px 8px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    overflow: hidden;
    outline: medium none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    /*line-height: 36px;*/
    vertical-align: middle;
}
.mdl-poetry .action-button .action-button__text {
	vertical-align: middle;
	padding-bottom: 14px;
}
.mdl-poetry .action-button:hover {
	color: #616161;
}
.mdl-poetry .action-button--small {
    background: none repeat scroll 0px 0px transparent;
    border: medium none;
    cursor: pointer;
    text-align: left;
	color: #919191;
	font-size: 10px;
}
.mdl-poetry .action-button--small:hover {
	color: #616161;
}
@media (max-width: 839px) {
	.action-button__text {
		display: none !important; }
}

.mdl-poetry .share-panel {
	padding: 4px 16px 4px 16px;
}
.mdl-poetry .share-button {
    background: none repeat scroll 0px 0px transparent;
    border: medium none;
    cursor: pointer;
	padding: 2px;
    text-align: left;
	color: #919191;
	font-size: 12px;
}
.mdl-poetry .share-button:hover {
	color: #616161;
}
.mdl-poetry .share-button .share-icon-twitter {
	background: transparent url("../img/social-icons-set1.png") no-repeat scroll 0px -348px;
    width: 32px;
    height: 32px;
	display: inline-block;
}
.mdl-poetry .share-button .share-icon-fb {
    background: transparent url("../img/social-icons-set1.png") no-repeat scroll 0px -861px;
    width: 32px;
    height: 32px;
	display: inline-block;
}
.mdl-poetry .share-button .share-icon-google {
    background: transparent url("../img/social-icons-set1.png") no-repeat scroll 0px -276px;
    width: 32px;
    height: 32px;
	display: inline-block;
}
.mdl-poetry .share-button .share-icon-mail {
    background: transparent url("../img/social-icons-set1.png") no-repeat scroll 0px -144px;
    width: 32px;
    height: 32px;
	display: inline-block;
}

.panel,
.meta-panel,
.meta-panel {
	padding: 8px 16px;
}
.meta-edit,
.light-txt {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
	color: #757575;
}
.meta-edit a,
.light-txt a {
	/*color: #ED4255;*/
	color: #3F51B5;
}
.summary-txt {
	font-size: 14px;
	white-space: pre-line;
}

.mdl-poetry .mdl-card a {

}

.mdl-poetry .mdl-card__menu a {
	color: #919191;
}
.mdl-poetry .mdl-card__menu a:hover {
	color: #616161;
}

.mdl-poetry .mdl-card h4 {
  margin: 0;
}

.mdl-poetry .mdl-card h4 a {
  text-decoration: none;
}
.mdl-poetry .mdl-card h4.quote:before, .mdl-poetry .mdl-card h4.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.mdl-poetry .mdl-card h4.quote:before {
  content: '“';
}
.mdl-poetry .mdl-card h4.quote:after {
  content: '”';
}

.mdl-poetry .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.mdl-poetry .mdl-card__media a,
.mdl-poetry .mdl-card__title a {
  color: inherit;
}

.mdl-poetry .stats-text {
	color: #808080;
}

.mdl-poetry .oops-message {
	text-align: center;
}

.mdl-card.stats-card {
	background-color: transparent;
}
.mdl-card.stats-card .mdl-card__title {
	flex-wrap: wrap-reverse;
}
.mdl-card.stats-card a {
	font-weight: 600;
	font-size: 14px;
}
/*.mdl-card.stats-card:hover {
	background-color: white;
}*/

/* forms */
.mdl-poetry .a-mdl-form {
	margin: 16px;
}
.mdl-poetry .a-mdl-form .mdl-textfield {
	width: 100%;
	display: block;
}
.mdl-poetry .a-mdl-form .error-text {
  color: rgb(222, 50, 38);
  position: relative;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}
.select2__label {
    color: #3F51B5;
    font-size: 12px;
}

/* Site search related */
.site-search-row {
	height: 52px;
/*	display: flex;
	flex-flow: row nowrap;
	flex-shrink: 0;*/
	box-sizing: border-box;
	align-self: center;
	align-items: center;
	margin: 0px;
}
@media (max-width: 479px) {
  .site-search-row { width: calc(100% - 16px); }
}
@media (min-width: 480px) and (max-width: 839px) {
  .site-search-row { width: calc(66.6666666666%); }
}
@media (min-width: 840px) {
  .site-search-row { width: calc(50% - 16px); }
}
.site-search {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.search-btn {
	display: inline-block;
	height: 30px;
	border: 1px solid transparent;
	padding: 0px 10px;
	outline: 0px none;
	font-weight: 500;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px 0px 0px 2px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	background: #F8F8F8 none repeat scroll 0% 0%;
	color: #333;
}
.search-btn:hover {
	background-color: #E8E8E8;
}
.site-search .search-btn {
	border-left: 0px none;
	border-radius: 0px 2px 2px 0px;
	border-color: #D3D3D3;
}
.search-input {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0% padding-box;
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-spacing: 0px;
    border-radius: 2px 0px 0px 2px;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 2px #EEE inset;
    color: inherit;
	height: 28px;
	display: block;
	width: 100%;
	padding: 0px 8px;
	text-align: left;
}
.search-input:hover {
	box-shadow: 0px 1px 2px #DDD inset;
}
.search-input[keepfocus],
.search-input:focus,
.search-input[autofocus] {
	border-color: rgba(51, 166, 255, 0.6) rgba(39, 145, 225, 0.6) rgba(0, 122, 204, 0.6);
	box-shadow: 0px 1px 2px #CCC inset;
}

/* Forms gmail style */
.form-element {
    position: relative;
    margin: 0px 0px 1em;
	font-size: 14px;
	line-height: 24px;
}
.form-element label {
    display: inline-block;
    width: 100%;
    position: relative;
}
.form-element strong {
    margin: 0px 0px 0.5em;
    display: inline-block;
    width: 100%;
	color: #222;
    -moz-user-select: none;
}
.form-element .help-text {
    margin: 0px 0px 0.5em;
    display: inline-block;
    width: 100%;
	font-size: 13px;
	line-height: 18px;
	color: #666;
}
.form-element .placeholder-text {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #999;
	display: none;
}
.form-element .errormsg {
    margin: 0.5em 0px 0px;
    display: block;
    color: #DD4B39;
    font-size: 13px;
	line-height: 18px;
}
.form-element select {
    display: inline-block;
	width: 100%;
    height: 29px;
    margin: 0px;
    padding: 0px 8px;
}

.form-element button, 
.form-element input, 
.form-element select, 
.form-element textarea {
    font-family: inherit;
    font-size: inherit;
}
.form-element button::-moz-focus-inner,
.form-element input::-moz-focus-inner {
	border: 0;
}
.form-element input[type=email],
.form-element input[type=number],
.form-element input[type=password],
.form-element input[type=tel],
.form-element input[type=text],
.form-element input[type=url],
.form-element textarea {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	width: 100%;
	margin: 0;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form-element input {
	height: 29px;
	padding: 0px 8px;
}
.form-element textarea {
    padding: 4px 8px;
}
.form-element input[type=email]:hover,
.form-element input[type=number]:hover,
.form-element input[type=password]:hover,
.form-element input[type=tel]:hover,
.form-element input[type=text]:hover,
.form-element input[type=url]:hover,
.form-element textarea:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.form-element input[type=email]:focus,
.form-element input[type=number]:focus,
.form-element input[type=password]:focus,
.form-element input[type=tel]:focus,
.form-element input[type=text]:focus,
.form-element input[type=url]:focus,
.form-element textarea:focus {
	outline: none;
	border: 1px solid #4d90fe;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.form-element input[type=email][disabled=disabled],
.form-element input[type=number][disabled=disabled],
.form-element input[type=password][disabled=disabled],
.form-element input[type=tel][disabled=disabled],
.form-element input[type=text][disabled=disabled],
.form-element input[type=url][disabled=disabled] {
	border: 1px solid #e5e5e5;
	background: #f1f1f1;
}
.form-element input[type=email][disabled=disabled]:hover,
.form-element input[type=number][disabled=disabled]:hover,
.form-element input[type=password][disabled=disabled]:hover,
.form-element input[type=tel][disabled=disabled]:hover,
.form-element input[type=text][disabled=disabled]:hover,
.form-element input[type=url][disabled=disabled]:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.form-element input[type=email][readonly=readonly],
.form-element input[type=number][readonly=readonly],
.form-element input[type=password][readonly=readonly],
.form-element input[type=text][readonly=readonly],
.form-element input[type=url][readonly=readonly],
.form-element textarea[readonly=readonly] {
	border: 1px solid #d9d9d9;
}
.form-element input[type=email][readonly=readonly]:hover,
.form-element input[type=number][readonly=readonly]:hover,
.form-element input[type=password][readonly=readonly]:hover,
.form-element input[type=text][readonly=readonly]:hover,
.form-element input[type=url][readonly=readonly]:hover,
.form-element textarea[readonly=readonly]:hover,
.form-element input[type=email][readonly=readonly]:focus,
.form-element input[type=number][readonly=readonly]:focus,
.form-element input[type=password][readonly=readonly]:focus,
.form-element input[type=text][readonly=readonly]:focus,
.form-element input[type=url][readonly=readonly]:focus,
.form-element textarea[readonly=readonly]:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.form-element input[type=checkbox].form-error,
.form-element input[type=email].form-error,
.form-element input[type=number].form-error,
.form-element input[type=password].form-error,
.form-element input[type=text].form-error,
.form-element input[type=tel].form-error,
.form-element input[type=url].form-error {
	border: 1px solid #dd4b39;
}
.form-element input[type=checkbox],
.form-element input[type=radio] {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	margin: 0;
	cursor: pointer;
	vertical-align: bottom;
	background: #fff;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.form-element input[type=checkbox]:active,
.form-element input[type=radio]:active {
	border-color: #c6c6c6;
	background: #ebebeb;
}
.form-element input[type=checkbox]:hover {
	border-color: #c6c6c6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
.form-element input[type=radio] {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	width: 15px;
	height: 15px;
}
.form-element input[type=checkbox]:checked,
.form-element input[type=radio]:checked {
	background: #fff;
}
.form-element input[type=radio]:checked::after {
	content: '';
	display: block;
	position: relative;
	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	background: #666;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.form-element input[type=checkbox]:checked::after {
	content: url(https://ssl.gstatic.com/ui/v1/menu/checkmark.png);
	display: block;
	position: absolute;
	top: -6px;
	left: -5px;
}
.form-element input[type=checkbox]:focus {
	outline: none;
	border-color:#4d90fe;
}
.form-element .image {
	width: 50%;
    margin: auto;    
	border: 2px solid #FFF;
}


/* Layouts: drawer/search/header related */
.dashboard-layout .mdl-layout__drawer-button {
	/*position: relative;*/
}
.dashboard-layout .mdl-layout__drawer {
	box-shadow: none;
	background-color: transparent;
}
.dashboard-layout .mdl-layout__drawer > .search-box {
	padding: 8px 0px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	display: flex;
}
.dashboard-layout .mdl-layout__drawer > .search-box .mdl-textfield__input {
	border-width: 0px;	
}

.dashboard-navigation.mdl-navigation > .mdl-navigation__link {
	font-weight: 500;
	font-size: 14px;
	color: inherit;
}
.dashboard-navigation.mdl-navigation .mdl-navigation__link:hover {
    background-color: transparent;
	color: inherit;
}
.mdl-navigation__link.section {
	font-weight: 600 !important;
	border-bottom: 1px solid #E0E0E0;
}
.dashboard-navigation > a:hover {
	text-decoration: none;
}
.dashboard-navigation.mdl-navigation .active,
.dashboard-navigation.mdl-navigation .active:hover {
/*    background-color: rgb(149, 54, 140);*/
	background-color: rgb(221,221,221);
    
}

.page-header.mdl-layout__header {
	/*background: url('../img/header2.jpg') top / cover;*/
	background-color: white;
	color: #616161 !important;/*grey-700*/
	min-height: 46px;
}
.page-header.mdl-layout__header.is-compact {
    max-height: 46px;
}
.page-header .mdl-layout__drawer-button {
	width: 32px;
	height: 32px;
	line-height: 46px;
	color: #616161;
}
.page-header--nav.mdl-navigation > .mdl-navigation__link {
	font-weight: 500;
	font-size: 12px;
	color: inherit;
	line-height: 46px;
}
.page-header--nav > a:hover {
	text-decoration: none;
}
.page-header--row.mdl-layout__header-row {
    height: 46px;
}
.page-header--row.mdl-layout__header-row > * {
    flex-shrink: 1;
}
.nav-submenu {
  position: absolute;
  right: 16px;
  top: 16px; }

/* icons & symbols */
.icons {
	color: #818181 !important;
	line-height: inherit !important;
	vertical-align: bottom;
}
#floating-btn-bottom {
    position: fixed;
    display: block;
    right: 0px;
    bottom: 0px;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

/* Popup/overlay/info-box etc */
.info-overlay.mdl-menu {
	min-width: 120px;
}
.info-overlay > .action {
	text-align: right;
	margin: 8px;
}
.info-overlay > .text.mdl-menu__item {
	white-space: nowrap;
	min-width: 240px;
	cursor: default;
	color: inherit;

}
.info-overlay > .text.mdl-menu__item:hover {
	background-color: transparent;

}

/* Tags */
.hashtag {
	display: inline-flex;
}
.hashtag b {
	font-weight: 500;
	color: #0084B4;
}
.hashtag s {
	color: #66B5D2;
	text-decoration: none;
}

/* links */
.pretty-link b {
	font-weight: 500;
}
.pretty-link:hover, .pretty-link:hover s, .pretty-link:focus, .pretty-link:focus s {
    text-decoration: none;
}
.pretty-link:hover b, .pretty-link:focus b {
    text-decoration: underline;	
}
.h-link {
	color: #1A0DAB;
}

/* Angled edge */
.quote, .quote-a, .quote-b {
	z-index: 1;
	position: relative;
}
.quote:before, .quote-b:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.quote:after, .quote-a:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.quote:before, .quote-b:before {
  top: 0;
  -webkit-transform: skewY(1.5deg);
      -ms-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.quote:after, .quote-a:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
      -ms-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
      -ms-transform-origin: 100%;
          transform-origin: 100%;
}

/* Notifications/warning etc */

.notice {
	/*background-color: #EEE;*/
	background-color: #EFF2DF;
	color: #616161;
	border-radius: 2px;
	margin: 8px 4px;
	padding: 8px;


}

/* Shortcut styles */
.b { font-weight: 600;}
.fS-13 {
	font-size: 13px !important;
	line-height: 18px;
}
.fS-10px {
    font-size: 10px !important;
    line-height: 16px;
    font-weight: 300;
}
.fS-12 {
    font-size: 12px !important;
    line-height: 18px;
    font-weight: 300;
}
.textsize--12px {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}
.text-16px {
    font-size: 16px;
    line-height: 20px;
}
.fS-28 {
    font-size: 28px !important;;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 0.01em;
}
.wFull { width: 100%; }
.tAc {
    text-align: center;
}
.tAl {
    text-align: left;
}
.tAr {
    text-align: right;
}
.pA-0 { padding: 0px; }
.pTB-0 { padding-top: 0px;padding-bottom: 0px;}
.pLR-0 { padding-left: 0px;padding-right: 0px;}
.pLR-8 { padding-left: 8px;padding-right:8px;}
.p-8 { padding:8px;}
.pT-8 { padding-top: 8px; }
.pT-16 { padding-top: 16px; }
.pT-48 { padding-top: 48px; }
.pB-8 { padding-bottom: 8px; }
.pB-16 { padding-bottom: 16px; }
.pB-48 { padding-bottom: 48px; }
.pL-8 { padding-left: 8px;}
.pR-8 { padding-right: 8px;}

.wSn { white-space: normal; }
.wS-pl { white-space: pre-line; }

.mR-8 { margin-right: 8px; }
.mL-8 { margin-left: 8px; }
.mT-8 { margin-top: 8px; }
.mB-8 { margin-bottom: 8px; }
.mR-16 { margin-right: 16px; }
.mL-16 { margin-left: 16px; }
.mT-16 { margin-top: 16px; }
.mB-16 { margin-bottom: 16px; }

.mR-4 { margin-right: 4px; }

.bC-grey { background-color: #EEE; }
.bC-inherit { background-color: inherit; }

.mH-auto { min-height: auto; }
.mxH-36 { max-height: 36px; }
.bC-none { background-color: transparent;}
.bC-inh { background-color: inherit;}

.position-rel { position: relative;}
.position-abs { position: absolute;}

.bS-1 { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);}
.bS-2 {
    border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    border-radius: 3px;
}
.lH-46 {line-height: 46px !important;}
.lH-72 {line-height: 72px !important;}
.lH-i {line-height: inherit !important;}

.fD-c {flex-direction: column;}
.fD-r {flex-direction: row;}
.aI-c {align-items: center;}
.aI-b {align-items: baseline;}

.c-blue {color: #3F51B5;}

.person .highlight,
.bg-person {
	background-color: #DB4437 !important;/*red*/
	color: white;
}
.event .highlight,
.bg-event {
	background-color: #00D4DE !important;
	color: white;
}
.org .highlight,
.bg-org {
	background-color: #42A5F5 !important;/*blue-400*/
	color: white;
}
.place .highlight,
.bg-place {
	background-color: #4CAF50 !important;/*green-500*/
	color: white;
}
.product .highlight,
.bg-product {
	background-color: #9C27B0 !important;/*purple-500*/
	color: white;
}
.poetry .highlight,
.bg-poetry {
	background-color: white;
	color: #424242 !important;/*grey-800*/
}
.snippet .highlight {
	background-color: #00D4DE !important;
    color: #424242 !important;/*grey-800*/
}
.bg-snippet {
	background-color: white;
    color: #424242 !important;/*grey-800*/
}
.book .highlight,
.bg-book {
	background-color: #FDD835 !important;/*yellow-600*/
    color: #424242 !important;/*grey-800*/
}

/* Common style */
a {
    text-decoration: none;
	font-weight: inherit;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	/*color: #ED4255;*/

}
.banner {
    text-align: center;
	margin-top: calc(10%);
}
.banner h1 {
    font-family: "Open Sans",arial;
    color: #555;
    font-size: 32px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner h2 {
    font-family: "Open Sans",arial;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*
 * Material icons
 */
/* Rules for sizing the icon */
.icon {cursor: default;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.dp48 {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

/* Rules for using icons as black on a light background */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
 * Pagination
 */
.pagination {
	padding-left: 0px;
}
.pagination li {
	float: left;
	font-size: 1.2rem;
	padding: 0 10px;
	line-height: 30px;
	border-radius: 2px;
	text-align: center;
	list-style-type: none;
}
.pagination li a {
    color: #444;
}
.pagination li.active a {
    color: #fff;
}
.pagination li.active {
    background-color: #ee6e73;
}
.pagination li.disabled a {
    cursor: default;
    color: #999;
}
.pagination li i {
    font-size: 2rem;
}
.pagination li.pages ul li {
  display: inline-block;
  float: none;
}
.pagination li.pages ul {
  padding: 0px;
}

.pagination .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -moz-user-select: none;
    vertical-align: middle;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
}

/* Alerts, status */
.alert-danger {
	color: #f44336;
}
.alert-success {
	color: #8bc34a;
}
.status-success {
	background-color: #8bc34a;/*light-green-500*/
	color: white;	
}
.status-failure {
	background-color: #d50000 !important;/*red-A700*/
	color: white;	
}
.status-warning {
	background-color: #ff5722 !important;/*deep-orange-500*/
	color: white;	
}
.publish {
	font-size: 13px !important;
	color: #A5A5A5 !important;
	line-height: inherit !important;
	vertical-align: bottom;
}
i.publish:hover {
	color: #66B5D2 !important;
}

/* CARDS */
.links-card {
	min-height: auto;
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
	perspective-origin: 165px 56px;
	transform-origin: 165px 56px 0px;
	box-sizing: border-box;
}
.links-card .caption {
    color: rgba(0, 0, 0, 0.77);
	font-size: 12px;
	margin-top: 16px;
	overflow: hidden;
	text-align: center;
}
.links-card .caption a {
	text-decoration: none;
}
