{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta %}
	<meta name="description" content="">
	<meta name="author" content="" >

{% endblock %}

{% block title %}
	Add an author
{% endblock %}

{% block body %}

    <div class="container">
    	<div class="row">
    	
			{% crispy form %}
			
			<!-- messages -->
			{% if messages %}
				<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
				</ul>
			{% endif %}
			
		</div>
	</div>

	
{% endblock %}