{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta %}
	<meta name="description" content="">
	<meta name="author" content="" >

{% endblock %}

{% block title %}
	Add a book
{% endblock %}

{% block body %}

    <div class="container">
    	<div class="row">
    	
    		<!-- messages -->
			{% if messages %}
				<ul class="messages">
    			{% for message in messages %}
    				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    			{% endfor %}
				</ul>
			{% endif %}
			
			{% if book %}
				<h3>{{ book.name }}</h3>
				<p>Authors : {{ book.authors.all | join:", " }}</p>
				<p>Language : {{ book.get_language }}</p>
			{% endif %}
			
    		{% if form %}
    			{% crispy form %}
    		{% endif %}
		
		</div>
	</div>

	
{% endblock %}