{% extends "projects/project-base.html" %}
{% load staticfiles %}

{% block meta %}
	<meta name="description" content="">
	<meta name="author" content="" >

{% endblock %}

{% block title %}
	{{ author.name }}
{% endblock %}


{% block main %}

		{% if messages %}
		<section id="FlashMsg" class="pT-8 pB-8">
			<div class="mdl-poetry__post mdl-grid">			
				<div class="mdl-cell mdl-cell--12-col">
					<div class="flash-msg mdl-color-text--grey-600">
		    			{% for message in messages %}
	    				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    					<i class="material-icons">info</i>
	    					{{ message }}
	    				</div>
		    			{% endfor %}
		    		</div>
				</div>			
			</div>	
		</section>	
		{% endif %}
		
    	<section id="AuthorDetails" class="pT-8 pB-48">
			<div class="mdl-poetry__post mdl-grid">		
		
				<div class="mdl-cell mdl-cell--8-col mdl-grid">
				{% include "projects/include/author-card.html" %}
				</div>				
				<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid">				
					<div class="section-title mdl-cell mdl-cell--12-col">
						<h3>x y z</h3>	
					</div>					
				</div>							
				
			</div>		
    	</section> <!-- /AuthorDetails -->  

    	<section id="AuthorBooks" class="pB-48">
			<div class="mdl-poetry__post mdl-grid">
			
				<div class="section-title mdl-cell mdl-cell--12-col">
					<h3>Recently added books</h3>	
				</div>

				{% for book in author.get_recent_books %}
				<div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop mdl-shadow--2dp">
					<div class="mdl-card__media mdl-color--yellow-600 mdl-color-text--grey-800">
						<h4>
							<a href="{{book.get_absolute_url}}">{{ book.name }}</a>
						</h4>
					</div>					
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
					</div>				
				</div>
				{% endfor %}

			</div>		
    	</section> <!-- /AuthorBooks --> 
    	
{% endblock %}		    				    																