{% extends "projects/base.html" %}

{% block title %}
	List of authors
{% endblock %}

{% block main %}

	<section id="id-section-main" class="p-8">
		<div class="mdl-poetry__post mdl-grid">

		<div class="mdl-cell mdl-cell--12-col mdl-grid">
{% if view == 'table' %}
{% include "projects/include/author-list-table.html" %}
{% elif view == 'card' %}	
{% include "projects/include/author-list-card.html" %}
{% endif %}
		</div>

		</div>	
	</section>

{% endblock %}

{% block page-title %}Authors{% endblock %}