{% extends "projects/project-base.html" %}
{% load staticfiles %}
{% load snippets_tags %}

{% block title %}{{ author.name }}{% endblock %}

{% block main %}

	{% if messages %}
	<section id="msgPannel" class="pT-8 pB-8">
		<div class="_layout layout-L mdl-grid">	
				
			<div class="mdl-card__actions mdl-cell mdl-cell--8-col mdl-color-text--grey-600">
				<div class="flash-msg">
	    			{% for message in messages %}
    				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    					<i class="material-icons">info</i>
    					{{ message }}
    				</div>
	    			{% endfor %}
	    		</div>
				<div class="mdl-layout-spacer"></div>
				<button id="msgCloseBtn" class="action-button--small" title="Close">
					<i class="material-icons" role="presentation">close</i>       
				</button>		    		
			</div>	
					
		</div>	
	</section>
	<script>
	$(document).ready(function(){			
		var hideMsg = function(){			
			$('#msgPannel').addClass('hidden');
		};			
		$('#msgCloseBtn').on('click', hideMsg);
	});
	</script>
	{% endif %}
	
	<section id="priSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
			{% include "projects/include/author-card.html" %}
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>  

	<section id="secSect" class="pT-8 pB-16">
		<div class="_layout layout-sLs mdl-grid">		
			<section class="__l mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>	
			<section class="__c mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--top pA-0">
				<div class="section-title mdl-cell mdl-cell--12-col">
					<h3>Recently added poems</h3>	
				</div>
				{% get_recent_snippets 5 by author as snippets %}
				{% for snippet in snippets %}
				{% include "snippets/include/snippet-card-md.html" with snippet=snippet %}
				{% endfor %}
			</section>				
			<section class="__r mdl-cell mdl-cell--3-col mdl-cell--top mdl-grid pA-0">
			</section>				
		</div>		
	</section>
	
{% endblock %}		    				    																