{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    
		{% block meta %}
		<meta name="description" content="">
		<meta name="author" content="" >
		
		{% endblock %}
		
	    <title>{% block title %} Home {% endblock title %}- siteName.org </title>
	    
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="{% static "mdl/material.min.css" %}">
	    <link rel="stylesheet" href="{% static "mdl/style.css" %}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	    {% block extra-style %}
	    
		{% endblock %}
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'mdl/material.min.js' %}"></script>
   
	</head>  
 	<body class="mdl-poetry mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
 	{% block body %}    
	{% endblock %}
	
 	{% block modal %}    
	{% endblock %}		
	
	{% block scripts %}	    
	{% endblock %}
	</body>
</html>