{% extends "projects/base.html" %}

{% block title %}
	List of projects
{% endblock %}

{% block main %}

	<section id="id-section-main" class="p-8">
		<div class="mdl-poetry__post mdl-grid">
			<div class="mdl-card bC-none mdl-cell mdl-cell--12-col">							

{% if projects %} {% comment %} Display the list {% endcomment %}				
				<div class="mdl-card__supporting-text stats-text">		            
					Displaying {{ projects|length }} of {{ projects.paginator.count }} projects.
				</div>
				{% if projects.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
					{% include "common/include/pagination.html" with obj_list=projects getvars=getvars only %}
				</div>
				{% endif %}

				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					<div class="table--large">
					<table class="mdl-data-table mdl-js-data-table wSn">
						<thead>
							<tr>
						    	<th>ID</th>
						    	<th class="mdl-data-table__cell--non-numeric">Book</th>
						    	<th class="mdl-data-table__cell--non-numeric">State</th>
						    	<th>Pages</th>
						    	<th>Start</th>
						    	<th>End</th>
						    	<th class="mdl-data-table__cell--non-numeric">Note</th>						    	
						    </tr>
						</thead>						
						<tbody>
							{% for project in projects %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td class="mdl-data-table__cell--non-numeric">
									<a href="{{project.get_absolute_url}}" title="View project">{{ project.book.get_title }}</a>
								</td>
								<td class="mdl-data-table__cell--non-numeric" title="Current state">{{ project.get_state_name }}</td>
								<td title="Total pages">{{ project.get_pages_num }}</td>
								<td title="{{project.get_start_date}}">{{ project.get_start_date | date }}</td>
								<td title="{{project.get_end_date}}">{{ project.get_end_date | date }}</td>
								<td class="mdl-data-table__cell--non-numeric">{{ project.get_note }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>
				</div>
				{% if projects.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
					{% include "common/include/pagination.html" with obj_list=projects getvars=getvars only %}
				</div>
				{% endif %}
{% else %}  {% comment %} Display the notification {% endcomment %}
				<div class="mdl-card__supporting-text oops-message">
					<i class="material-icons md-48">error_outline</i>	            
					<h6>Oops!! No data found for this query.</h6>
				</div>
{% endif %}					
			</div>					
		</div>	
	</section>

{% endblock %}

{% block page-title %}Projects{% endblock %}