{% extends "projects/project-details.html" %}
{% load staticfiles %}

{% block main %}

		{% if messages %}
		<section id="FlashMsg" class="pT-8 pB-8">
			<div class="mdl-poetry__post mdl-grid">			
				<div class="mdl-cell mdl-cell--12-col">
					<div class="flash-msg mdl-color-text--grey-600">
		    			{% for message in messages %}
	    				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    					<i class="material-icons">info</i>
	    					{{ message }}
	    				</div>
		    			{% endfor %}
		    		</div>
				</div>			
			</div>	
		</section>	
		{% endif %}
		
				
    	<section id="ProjectDetails" class="pT-8 pB-48">
			<div class="mdl-poetry__post mdl-grid">		
		
				<div class="mdl-card wide-card mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title mdl-card--expand mdl-color--teal-300 mdl-color-text--white">
						<div class="author-title">
							<h2 class="mdl-card__title-text">
								<a href="{{ project.get_absolute_url }}" title="Go to project home page">{{ project.book.name }}</a>
							</h2>
							<h3 class="mdl-card__subtitle-text mdl-color-text--grey-200">
								Project #{{ project.id}} / Data
							</h3>
						</div>	
					</div>
					
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">		            
					{% include "common/include/pagination.html" with obj_list=book_pages only %}
					</div>
					
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						<div class="mdl-grid">
						{% for num in book_pages %}						
							<div id="pageNum{{num}}" class="pageListBlock mdl-cell mdl-cell--1-col tAc">
								{% if num not in scanned_pages %}
								<a class="link-block mdl-button mdl-js-button mdl-button--raised mdl-button--accent pA-0" data-pid="{{ project.id }}" data-page="{{num}}" data-add="1" href="#" title="Click here to add the missing page {{num}}">
								{% else %}
								<a class="link-block mdl-button mdl-js-button mdl-button--raised pA-0" data-pid="{{ project.id }}" data-page="{{num}}" data-add="0" href="#" title="Click here to view or change the page {{num}}">
								{% endif %}
									{{ num }}
								</a>
							</div>
						
						{% endfor %}												
						</div>	
					</div>
					
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					{% include "common/include/pagination.html" with obj_list=book_pages only %}
					</div>		            
					
					
					<div class="mdl-card__actions mdl-card--border">
						<div class="meta-edit mdl-color-text--grey-600">
		    				<div>
		    					<span>Last edited by</span>
		    					<span> 
				    				<a title="Go to the profile page of user" href=#>{{project.manager}}</a>
		    					</span>
		    				</div>
		    				<div>
		    					<span>{{ project.date_modified }}</span>
		    				</div>
		    			</div>
		    			<div class="mdl-layout-spacer"></div>
						<a href="#" class="mdl-button mdl-button mdl-button--colored">Read our features</a>								    			
					</div>
					<div class="mdl-card__menu">
						<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
			              <i class="material-icons mdl-color-text--white">more_vert</i>
						</button>
			            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
			              <li class="mdl-menu__item">
			              	<a href="{{ project.get_absolute_url }}">Project Home</a>
			              </li>
			              <li class="mdl-menu__item" disabled>Ipsum</li>
			              <li class="mdl-menu__item">
			              	<a href="?edit=True">Edit</a>
			              </li>
			            </ul>
					</div>
				</div> <!-- /mdl-card -->
									
				
			</div>		
    	</section> <!-- /ProjectDetails -->  
		
				
{% endblock %}

{% block modal %}
	<div id="imgModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
    		<div class="mdl-card mdl-cell mdl-cell--12-col mdl-color-text--grey-600">
				<div class="mdl-card__title mdl-card--border ">
					<h3 class="mdl-card__subtitle-text mdl-color-text--teal-400">Upload scanned page image</h3>
				</div>
				<div class="mdl-card__supporting-text flash-msg">
					<div id="modal-flashMsg" role="alert">
					  <i class="material-icons"></i>
					  <span class="message"></span>
					</div>
				</div>
				<div class="mdl-card__supporting-text">
					<div id="imgModalBody">
						<p>Let there be light!</p>
					</div>
				</div>				
				<div class="mdl-card__menu">
				    <button data-dismiss="modal" class="mdl-button mdl-button--icon mdl-js-button">
						<i class="material-icons">close</i>
				    </button>					  
				</div>					
			</div>
	    </div>
	
	  </div>
	</div> <!-- /imgModal -->
{% endblock %}

{% block extra-style %}
	<link rel="stylesheet" href="{% static "css/projects/modal.css" %}">
{% endblock %}
		
{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/projects/upload.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/projects/modal.js' %}"></script>			
{% endblock %}

