{% extends "dashboard/base.html" %}

{% block meta %}
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
{% endblock %}

{% block title %}{{ public_profile.get_first_name }} - {{ sitename }}{% endblock %}

{% block main %}
<section class="pT-8">
    <div class="_layout layout-mL mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            {% include 'dashboard/include/public-profile-card.html' %}
        </div>
    </div>
</section>
<section class="pT-16 pB-16">
    <div class="_layout layout-mL mdl-grid">
        <div class="__l mdl-cell mdl-cell--6-col pA-0 centered">
        </div>
        <div class="__c mdl-cell mdl-cell--6-col pA-0 centered">
        </div>
    </div>
</section>
{% endblock %}