{% extends "dashboard/base.html" %}

{% block meta %}
	<meta name="robots" content="noindex">
	<meta name="googlebot" content="noindex">
{% endblock %}

{% block title %}{{ public_profile.get_first_name }} - {{ sitename }}{% endblock %}

{% block main %}	
<div class="pT-8 pB-16">
	<div class="_layout layout-L mdl-grid">			
		<section class="__c mdl-cell mdl-cell--12-col pA-0">

			<div class="author-card--lg wFull">
				<div class="column center">
					<div class="avatar lg user bC-none">
						{% include "common/svg/user.html" %}
					</div>					
					<div class="title-text dark">																					
						{{ public_profile.get_first_name }}
					</div>
					<div class="extras">
						<span>Joined</span>
						<span>{{ public_profile.user.date_joined|date:"d M, Y" }}</span>					
					</div>													
				</div>					
				<div class="mdl-card__supporting-text">
				</div>
			</div>

		</section>			
	</div>		
</div>
{% endblock %}