{% comment %}
	Info:       Author list as Card view
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}

{% if authors %} {% comment %} Display the list {% endcomment %}		
			<div class="bC-none mdl-cell mdl-cell--12-col">				
				<div class="mdl-card__supporting-text stats-text">		            
					Displaying {{ authors|length }} of {{ authors.paginator.count }} results.
				</div>
				{% if authors.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
					{% include "common/include/pagination.html" with obj_list=authors getvars=getvars only %}
				</div>
				{% endif %}
			</div>

{% comment %}  TODO Add author card, show only to admin {% endcomment %}
			<div class="mdl-card author-card--sm mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">	
				<div class="mdl-card__title">					
					<i class="avatar material-icons">person_add</i>
					<div class="extras">
						<span class="text"></span>
					</div>		
				</div>
				<a href="{% url 'projects:add-author' pk='' %}" class="action mdl-button mdl-button--colored tAc">
					Add an author					
				</a>																				
			</div>
			
			{% for a in authors %}
			<div class="mdl-card author-card--sm mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">	
				<div class="mdl-card__title mdl-color-text--grey-800">					
					{% with author_img_url=a.get_image_url %}
					{% if author_img_url %}
					<img class="avatar" width="90" height="90" src={{ author_img_url }}>
					{% else %}
					<i class="avatar material-icons">person</i>
					{% endif %}	
					{% endwith %}		
					<div class="title-text">
						<a href="{{a.get_absolute_url}}" title="View Author">														
						{% if author.sobriquet %}{{ a.get_sobriquet }}{% else %}{{ a.get_name }}{% endif %}
						</a>
					</div>
					<div class="extras">
						<span class="text">{{a.get_name_in_english}}</span>
					</div>
					<div class="extras">
					{% if a.date_birth %}
						<span class="textsize--12px" title="Birth">{{ a.date_birth }}</span> 
					{% endif %}
					{% if a.date_death %}					
						<span class="textsize--12px" title="Death">- {{ a.date_death }}</span>
					{% endif %}
					</div>					
				</div>
				<div class="mdl-card__supporting-text mdl-color-text--grey-800">				
				</div>
				<a href="{{a.get_absolute_url}}" class="action mdl-button mdl-button--colored tAc">
					View more					
				</a>						
														
			</div>
			{% endfor %}

			<div class="mdl-card bC-none mdl-cell mdl-cell--12-col">				
				{% if authors.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
					{% include "common/include/pagination.html" with obj_list=authors getvars=getvars only %}
				</div>
				{% endif %}
			</div>
{% else %}  {% comment %} Display the notification {% endcomment %}
			<div class="bC-none mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text oops-message">
					<i class="material-icons md-48">error_outline</i>	            
					<h6>Oops!! No data found for this query.</h6>
				</div>
			</div>
{% endif %}