{% comment %}
	Info:       Author Card with short details
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}

<div class="mdl-card author-card--md wFull bC-none">
{% with author_img_url=author.get_image_url author_name=author.get_name author_url=author.get_absolute_url info=author.get_short_info %}
	<div class="mdl-card__title mdl-color-text--grey-800">		
		{% if author_img_url %}
		<img class="avatar bS-1" width="90" height="90" src={{ author_img_url }} title="{{ author_name }}">
		{% else %}
		<i class="avatar bS-1 material-icons" title="{{ author_name }}">person</i>
		{% endif %}					
		<div class="title-text">
			<a href="{{ author_url }}" title="{{ author_name }}">														
			{% if author.sobriquet %}{{ author.get_sobriquet }}{% else %}{{ author_name }}{% endif %}
			</a>
		</div>
		<div class="extras">
			<span class="text">{{ author.get_name_in_english }}</span>
		</div>
		<div class="extras">
		{% if author.date_birth %}
			<span class="textsize--12px" title="Birth">{{ author.date_birth }}</span> 
		{% endif %}
		{% if author.date_death %}					
			<span class="textsize--12px" title="Death">- {{ author.date_death }}</span>
		{% endif %}
		</div>					
	</div>
	{% if info %}
	<div class="info mdl-card__supporting-text">				
		<span>{{ info }}</span>
		<span><a href="{{ author_url }}" class="h-link">...more</a></span>
	</div>
	{% endif %}
{% endwith %}								
</div>