{% comment %}
	Info:       Author full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card author-card--lg bS-1 wFull">
	<div class="mdl-card__title">
		{% with author_img_url=author.get_image_url %}
		{% if author_img_url %}
		<img class="avatar" width="120" height="120" src={{ author_img_url }}>
		{% else %}
		<i class="avatar material-icons">person</i>
		{% endif %}
		
		{% endwith %}					
		<div class="title-text">																					
			{{ author.get_name }}{% if author.sobriquet %}({{ author.get_sobriquet }}){% endif %}
		</div>
		<div class="extras">
			<span class="text">{{author.get_name_in_english}}</span>
		</div>
		<div class="extras">
		{% if author.date_birth %}
			<span title="Birth">{{ author.date_birth }}</span> 
		{% endif %}
		{% if author.date_death %}					
			<span title="Death">- {{ author.date_death }}</span>
		{% endif %}
		</div>					
	</div>					
	<div class="mdl-card__supporting-text">
		{% if author.get_source_url %}					
		<p>{{ author.summary }}</p>		
		<p>Source: <a title="Click here to know more" href="{{ author.get_source_url }}" target="_blank">
			{{ author.get_source_name }}</a>
		</p>
		{% endif %}
	</div>
	<div class="meta-pannel mdl-card__actions mdl-card--border mdl-color-text--grey-500">
		<div class="meta-edit">
			<div>
				<span>Last edited by</span>
				<span> 
    				<a title="Go to the profile page of user" href=#>{{ author.get_last_edit_user }}</a>
				</span>
			</div>
			<div>
				<span title="Last updated at {{ author.get_last_edit_time }}">{{ author.get_last_edit_time|naturaltime }}</span>
			</div>
		</div>
		<div class="mdl-layout-spacer"></div>							    			
	</div>
	<div class="mdl-card__menu">
		<a href="{% url 'projects:add-author' pk=author.id %}/?cancel={{request.path}}" title="Edit to improve author details">
		<button class="mdl-button mdl-js-button mdl-button--icon" id="btn1">
          <i class="material-icons mdl-color-text--white">edit</i>
		</button>
		</a>
	</div>
</div>