{% load socialaccount %}

{% get_providers as socialaccount_providers %}
<div>
{% for provider in socialaccount_providers %}
	{% if provider.id == "openid" %}
		{% for brand in provider.get_brands %}
		<li>
		  <a title="{{brand.name}}" 
		     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
		     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
		     >{{brand.name}}</a>
		</li>
		{% endfor %}
	{% endif %}
	
	{% if provider.name = 'Facebook' %}
	<div>
		<a class="button-rounded border wFull mB-16 h-shadow social-icon facebook" title="{{provider.name}}"
			href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
			<span class="d-ib mR-8">
			{% include "common/svg/fb_color.html" %}
			</span>
			<span class="fS14">Log in with Facebook</span>
		</a>
	</div>
	{% endif %}
	{% if provider.name == 'Google' %}
	<div>
		<a class="button-rounded border wFull mB-16 h-shadow social-icon google" title="{{provider.name}}"
			href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
			<span class="d-ib mR-8">
			{% include "common/svg/google_color.html" %}
			</span>
			<span class="fS14">Log in with Google</span>
		</a>
	</div>
	{% endif %}
	{% if provider.name == 'Twitter' %}
	<div>
		<a class="button-rounded border wFull mB-16 h-shadow social-icon twitter" title="{{provider.name}}"
			href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
			<span class="d-ib mR-8">
			{% include "common/svg/twitter_color.html" %}
			</span>
			<span class="fS14">Log in with Twitter</span>
		</a>
	</div>
	{% endif %}	

{% endfor %}
</div>
