<form id="id-feedback-form" method="post" enctype="multipart/form-data" class="a-mdl-form">
	{% csrf_token %} 
	<span class="errormsg">{{ form.non_field_errors }}</span>
	<fieldset>
		<div class="form-element">
			<label for="id-feedback-text">
				<strong>Send Feedback</strong>
				<textarea id="id-feedback-text" class="form-input" name="feedback-text" rows="3" maxlength=2000 required>{{ form.text.value|default_if_none:'' }}</textarea>							
			</label>
			<span class="helptext">Write down your commnets and suggestions.</span>
		</div>
		{% if request.user.is_authenticated == False %}
		<div class="form-element">
			<label for="id-email">
				<strong>Your Email? (optional)</strong>
				<input id="id-email" maxlength="254" name="feedback-email" type="email"/>
			</label>
			<span class="helptext"></span>
		</div>		
		<div class="form-element">
			<label for="id-xx">
				<strong></strong>
				<input id="id-xx" name="xx" type="text"/>
			</label>
			<span class="helptext">Leave it blank if you are Human.</span>
		</div>
		<input id="id-yy" name="yy" type="hidden"/>
		{% endif %}		
	</fieldset>
	<div class="tAr">
		<input id="id-feedback-form-submit" class="mdl-button mdl-button--colored" type="submit" value="Send"/> 
	</div>
</form>