{% extends "feedback/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Feedbacks | {{ sitename }}{% endblock %}

{% block main %}
	<section class="pT-8 pB-16">
		<div class="_layout layout-L mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="wide-card">
					<div class="head-title mB-8">Feedbacks</div>
					<div class="menu row fill">
						<div class="search-stats mL-8">
							<span>{{ feedbacks.paginator.count|intcomma }}</span>
							<span>results</span>
						</div>
						<div class="dropdown">
							<div class="dropbtn" role="button">
								<div class="dropbtn-txt">{{ query_list_title }}</div>
								<span class="dropdown-arw"></span>
							</div>
							<ul class="dropdown-content right">
							{% for qi in query_list %}
								<li>
									<a href="{{ qi.url }}" class="{{ qi.css }}" title="{{ qi.help_text }}">
										<span>{{ qi.name }}</span>
									</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% include "feedback/include/list.html" %}
		</div>
	</section>
{% endblock %}