{% extends "feedback/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Feedbacks | {{ sitename }}{% endblock %}

{% block navigation-header %}
{% include 'common/include/navigation-bar-head.html' with nav_url=cancel_url nav_title='Feedbacks' nav_css='feedback' %}
{% endblock %}

{% block main %}
	<section class="pT-8">
		<div class="_layout layout-L mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="card-xl">
					<div class="menu row fill">
						<div class="search-stats mL-8">
							<span>{{ feedbacks.paginator.count|intcomma }}</span>
							<span>results</span>
						</div>
						<div class="dropdown">
							<div class="dropbtn" role="button">
								<div class="dropbtn-txt">{{ query_list_title }}</div>
								<span class="dropdown-arw"></span>
							</div>
							<ul class="dropdown-content right">
							{% for qi in query_list %}
								<li>
									<a href="{{ qi.url }}" class="{{ qi.css }}" title="{{ qi.help_text }}">
										<span>{{ qi.name }}</span>
									</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="pB-16">
		<div class="_layout layout-L mdl-grid">
			<div class="mdl-cell mdl-cell--12-col">
			{% if feedbacks %} {% comment %} Display the list {% endcomment %}
				{% include "feedback/include/list.html" %}
				{% include "common/include/pagination-bottom.html" with items=feedbacks %}
			{% else %}  {% comment %} Display the notification {% endcomment %}
				{% include "feedback/include/empty-result.html" %}
			{% endif %}
			</div>
		</div>
	</section>
{% endblock %}