{% comment %}  
	Info:       Feedback related stuff		
	Requires:   Elemnet having id="feedbackBtn" to bind the action.
				Element should have: 
					1) data-url="{% url 'feedback:add_for_content' ctype_id=content_type_id obj_id=obj_id %}"
{% endcomment %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/modal.css" %}">
<script type="text/javascript" src="{% static 'feedback/js/feedback.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>

<div class="modal fade" id="id-feedback-modal" role="dialog">
	<div class="modal-dialog modal-l">      
		<div class="modal-content">
	
			<div class="mdl-card feedback-card card-l wFull">							
				{% comment %}<div class="modal-header">				
					<div class="modal-title">Feedback</div>
				</div>{% endcomment %}
				<div id="id-feedback-form-body" class="modal-body">			
				</div>				
				<div class="mdl-card__menu">
				    <button title="Close" data-dismiss="modal" class="mdl-button mdl-button--icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" enable-background="new 0 0 24 24" width="22" height="22" style="fill: #616161;">
						    <path d="M 5.625 4.21875 L 4.21875 5.625 L 10.59375 12 L 4.21875 18.375 L 5.625 19.78125 L 12 13.40625 L 18.375 19.78125 L 19.78125 18.375 L 13.40625 12 L 19.78125 5.625 L 18.375 4.21875 L 12 10.59375 L 5.625 4.21875 z"/>
						</svg>						
				    </button>					  
				</div>				
			</div>
			
      </div>      
	</div>
</div>			
