{% comment %}  
	Info: Feedback related stuff
	Requires:# Elemnet having id="feedbackBtn*" to bind the action and Element should have:
				data-url="{% url 'feedback:add_for_content' ctype_id=content_type_id obj_id=obj_id %}"
			# modal.js, feedback.js, modal.css
{% endcomment %}
<div class="modal fade" id="id-feedback-modal" role="dialog">
	<div class="modal-dialog modal-l">
		<div class="modal-content">

			<div class="mdl-card feedback-card card-l wFull">
				{% comment %}<div class="modal-header">
					<div class="modal-title">Feedback</div>
				</div>{% endcomment %}
				<div id="id-feedback-form-body" class="modal-body">
				</div>
			</div>

		</div>
	</div>
</div>
