{% extends "feedback/base.html" %}

{% block title %}Feedback response | {{ sitename }}{% endblock %}

{% block navigation-header %}
{% url 'feedback:list' as nav_url %}
{% include 'common/include/navigation-bar.html' with nav_url=nav_url nav_title='Feedback Response' nav_css='feedback' %}
{% endblock %}

{% block main %}
    <section class="pT-8">
        <div class="_layout layout-L mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                {% include "feedback/include/feedback-card.html" %}
                {% include "feedback/include/response-card.html" %}
            </div>
        </div>
    </section>
    <section class="pT-8 pB-32">
        <div class="_layout mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
            </div>
        </div>
    </section>
{% endblock %}