{% extends "feedback/base.html" %}

{% block title %}Feedback details and actions | {{ sitename }}{% endblock %}

{% block breadcrumbs %}
<section class="pT-8">
    <div class="_layout layout-L mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="wide-card">
                <div class="head-title mB-8">
                    <a class="action-button" href="{% url 'feedback:list' %}">
                    {% include 'common/svg/arrow_back.html' %}
                    </a>
                    <span>Feedbacks</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block main %}
    <section class="pT-8">
        <div class="_layout layout-L mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                {% include "feedback/include/feedback-card.html" %}
                {% include "feedback/include/response-card.html" %}
            </div>
        </div>
    </section>
    <section class="pT-8 pB-32">
        <div class="_layout mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
            </div>
        </div>
    </section>
{% endblock %}