{% comment %}  
    Log in clickcard
{% endcomment %}
<style>
.clickcard {
    z-index: 2000000006;
    transition: display 0.9s ease-out 0s;
    min-width: 256px;
    cursor: default;
    background: #FFF none repeat scroll 0% 0%;
}
.clickcard-body {
    min-height: 54px;
    overflow: hidden;
    font-size: 13px;
    color: #555;
}
.clickcard-content {
    padding: 16px;
    min-width: 235px;
    line-height: 1.3em;
}
.clickcard-header {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
}
.clickcard-message {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.3em;
}
</style>
<div id="id-clickcard" class="hidden clickcard login-clickcard m8 tAr">
    <div class="clickcard-body">
        <div class="clickcard-content">
            <div class="clickcard-header"></div>
            <div class="clickcard-message"></div>
            <div>
                <button class="clickcard-close-js-button mdl-button oN">Cancel</button>
                <a class="clickcard-action" href="{% url 'account_login' %}">
                    <button class="button-rounded border h-shadow bc-greenNormal login-btn">Log in</button>
                </a>
            </div>
        </div>
    </div>
</div>
