{% comment %}
	Info: Message/notification displayed on the page.
		It renders the `messages` passed in the context.
{% endcomment %}
{% if messages %}
{% comment %} 1) ns-attached/ns-growl. 2) ns-effect-flip/ns-effect-scale {% endcomment %}
<div id="messagePanel" class="ns-box ns-growl ns-effect-scale ns-type-notice hidden">
	{% for message in messages %}
	<div class="ns-box-inner {{ message.tags }}">
		<p>{{ message }}</p>
	</div>
	{% endfor %}	
	<span class="ns-close"></span>
</div>

<script>
/** Common, default styles for the notification box **/
$(document).ready(function(){	
	/**
	 * NotificationFx options
	 */
	notifix = {
		// if the user doesn´t close the notification then we remove it 
		// after the following time
		ttl : 6000,
		// exit time
		etime : 250,
		// is notification is active
		active : true,
	}

	/**
	 * init function
	 * initialize and cache some vars
	 */
	notifixInit = function() {
		// dismiss after [options.ttl]ms
		notifix.dismissttl = setTimeout( function() {
			if( notifix.active ) {
				notifixDismiss();
			}
		}, notifix.ttl );
		// show
		notifixShow();
		// init events
		notifixInitEvents();
	}

	/**
	 * init events
	 */
	notifixInitEvents = function() {
		// dismiss notification
		$('#messagePanel .ns-close').on( 'click', function() { notifixDismiss(); } );
	}

	/**
	 * show the notification
	 */
	notifixShow = function() {
		notifix.active = true;
		$('#messagePanel').removeClass('ns-hide');
		$('#messagePanel').removeClass('hidden');
		$('#messagePanel').addClass('ns-show');
	}

	/**
	 * dismiss the notification
	 */
	notifixDismiss = function() {
		notifix.active = false;
		clearTimeout( notifix.dismissttl );
		$('#messagePanel').removeClass('ns-show');
		setTimeout( function() {
			$('#messagePanel').addClass('ns-hide');

		}, 25 );
		setTimeout( function() {
			$('#messagePanel').addClass('hidden');
		}, notifix.etime );		
	}
	notifixInit();
	
});
</script>
{% endif %}