{% load common_tags %}
{# getvars context contains the queryset passed in url #}
{% with total_pages=obj_list.paginator.num_pages current_page=obj_list.number%}	

<ul class="pagination">	
{% if obj_list.has_previous %}				
	<li class="prev waves-effect">
		<a href="?page={{ obj_list.previous_page_number }}{{getvars}}">
{% else %}    
	<li class="prev disabled">
		<a href="#">
{% endif %}
		<svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 0 50 50" enable-background="new 0 0 50 50">
			<polygon points="35,47.25 37.086,45.164 16.922,25 37.086,4.836 35,2.75 12.75,25 "/>
		</svg>    	
		</a>					        
	</li>			
	<li class="pages">
		<ul>
{% if total_pages < 11 %}
	{% for p in obj_list.paginator.page_range %}
		{% if p == current_page %}
			<li class="active mdl-color--teal-A300">
		{% else %}
			<li class="waves-effect">
		{% endif %}
				<a href="?page={{ p }}{{getvars}}">{{ p }}</a>
			</li>		    	
	{% endfor %}
{% else %}
	{% if current_page <= 4 %}
		{% for p in 1|make_range:"4" %}
			{% if p == current_page %}
				<li class="active mdl-color--teal-A300">
			{% else %}
				<li class="waves-effect">
			{% endif %}
					<a href="?page={{ p }}{{getvars}}">{{ p }}</a>
				</li>
		{% endfor %}
		{% if current_page == 4 %}
			<li class="waves-effect">			    	
				<a href="?page={{ 5 }}{{getvars}}">{{ 5 }}</a>
			</li>
		{% endif %}
			<li>...</li>
			<li class="waves-effect">						        
				<a href="?page={{ total_pages}}{{getvars}}">{{ total_pages }}</a>
			</li>							
	{% elif current_page >= total_pages|add:"-3" %}
			<li class="waves-effect">						        
				<a href="?page={{ 1 }}{{getvars}}">{{ 1 }}</a>
			</li>
			<li>...</li>
		{% if current_page == total_pages|add:"-3" %}
			<li class="waves-effect">			    	
				<a href="?page={{ total_pages|add:"-4" }}{{getvars}}">{{ total_pages|add:"-4" }}</a>
			</li>
		{% endif %}
		{% with x=total_pages|add:"-3" %}
		{% for p in x|make_range:"4" %}
			{% if p == current_page %}
				<li class="active mdl-color--teal-A300">
			{% else %}
				<li class="waves-effect">
			{% endif %}
					<a href="?page={{ p }}{{getvars}}">{{ p }}</a>
				</li>
		{% endfor %}
		{% endwith %}
			
	{% else %}
		<li class="waves-effect">		    
			<a href="?page={{ 1 }}{{getvars}}">{{ 1 }}</a>
		</li>		    
		<li>...</li>				    
		<li class="waves-effect">
			<a href="?page={{ obj_list.previous_page_number }}{{getvars}}">{{ obj_list.previous_page_number }}</a>
		</li>
		<li class="active mdl-color--teal-A300">		    
			<a href="?page={{ current_page }}{{getvars}}">{{ current_page }}</a>
		</li>
		<li class="waves-effect">						        
			<a href="?page={{ obj_list.next_page_number }}{{getvars}}">{{ obj_list.next_page_number }}</a>
		</li>		    		    
		<li>...</li>		    
		<li class="waves-effect">		    
			<a href="?page={{ total_pages }}{{getvars}}">{{ total_pages }}</a>
		</li>
	{% endif %}
		
{% endif %}
		</ul>
	</li>
{% if obj_list.has_next %}
	<li class="next waves-effect">						        
		<a href="?page={{ obj_list.next_page_number }}{{getvars}}" aria-label="Next">
{% else %}
	<li class="next disabled">
		<a href="#">
{% endif %}
			<svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 0 50 50" enable-background="new 0 0 50 50">
				<polygon points="15,2.75 12.914,4.836 33.078,25 12.914,45.164 15,47.25 37.25,25 "/>
			</svg>			
		</a>
	</li>			        	        			   
</ul>

{% endwith %}