{% comment %}  
	Notification to be displayed if query returns no results.
{% endcomment %}
{% load staticfiles %}
<div class="mdl-cell mdl-cell--12-col">
    <div class="card-xl">
        <div class="fS12 tAc c-61 wFull">Working on it...</div>
        <div class="centered" style="background: url('{% static "img/working_on_it_sm.png" %}') center / cover no-repeat;
        height: 200px; width: 200px;"></div>
        <div class="tAc fS10 c-91">
            <a href="http://www.incidentalcomics.com/" target="_blank" title="INCIDENTAL COMICS">© Grant Snider</a>
        </div>
    </div>
</div>