{% comment %}
	Info: Field creator.
	Requires: 1) Can be included in the Form of an item having 'creator' as a ForeignKey
			2) creator-select2-js.html needs to be included after this file.
{% endcomment %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
		<div id="div_id_creator" class="form-element">
			<label for="id_creator" class="select2__label">
				<strong>{{form.creator.label}}</strong>
			</label>
			<select id="id_creator" class="js-example-responsive" name="creator" required>
    		{% if form.fields.creator.choices %}{% for x,y in form.fields.creator.choices %}
    			<option value="{{ x }}"{% if form.creator.value == x %} selected=selected{% endif %}>{{ y }}</option>
			{% endfor %}{% endif %}
			</select>
		{% if form.creator.errors %}
		    {% for error in form.creator.errors %}<span class="error-text">{{ error|escape }}</span>{% endfor %}
		{% endif %}
		{% if form.creator.help_text %}<span class="help-text">{{ form.creator.help_text|safe }}</span>{% endif %}				
		</div>