{% comment %}
	Info:       Field date_death.
	Requires:   Can be included in the Form of an item having 'date_death' as DateField 
	Note:       xxx
{% endcomment %}

		<div id="div_id_date_death" class="form-element">	
			<label for="id_date_death">
				<strong>{{form.date_death.label}}</strong>
				<input id="id_date_death" class="form-input" name="date_death" autocomplete="off" type="text" pattern="^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$" value={% if form.errors %}"{{ form.date_death.value|default_if_none:'' }}"{% else %}"{{ form.date_death.value|date:'Y-m-d'|default_if_none:'' }}"{% endif %}/>
				</label>							
		{% if form.date_death.errors %}
		    {% for error in form.date_death.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
		{% endif %}
			<span class="mdl-textfield__error">Wrong format</span>
			{% if form.date_death.help_text %}<span class="help-text">{{ form.date_death.help_text|safe }}</span>{% endif %}				
		</div>
