{% comment %}
	Info:       Fieldset for classes derived from CreativeWork.
	Requires:   Must be included in the Form of child classes of CreativeWork 
	Note:       Don't forget to load static #}
{% endcomment %}

	<fieldset>
		{% include "repository/include/fields/creator.html" %}
		{% include "repository/include/fields/publisher.html" %}					
		{% include "repository/include/fields/license.html" %}	
		{% include "repository/include/fields/keywords.html" %}
		{% include "repository/include/fields/media.html" %}					
	</fieldset>
