{% comment %}
	Info:       Field keywords.
	Requires:   Can be included in the Form of an item having 'keywords' as an form CharField/TaggableManager 
	Note:       xxx
{% endcomment %}

		<div id="div_id_keywords" class="form-element">
			<label for="id_keywords">
				<strong>{{form.keywords.label}}</strong>
				<input id="id_keywords" class="translit form-input" name="keywords" type="text" maxlength="300" 
				value="{% for taggeditem in form.keywords.value %}{{taggeditem.tag.name}}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
			</label>			
		{% if form.keywords.errors %}
		    {% for error in form.keywords.errors %}<span class="errormsg">{{ error|escape }}</span>{% endfor %}
		{% endif %}
			{% if form.keywords.help_text %}<span class="help-text">{{ form.keywords.help_text|safe }}</span>{% endif %}			
		</div>
