{% comment %}
	Info:       Field parent.
	Requires:   Can be included in the Form of an item having 'parent' as a ForeignKey field 
	Note:       Parent Organization
{% endcomment %}

		<div id="div_id_parent" class="form-element">
			<label for="id_parent">
				<strong>{{form.parent.label}}</strong>
			</label>		
			<select id="id_parent" name="parent">
    		{% if form.fields.parent.choices %}{% for x,y in form.fields.parent.choices %}
    			<option value="{{ x }}"{% if form.parent.value == x %} selected=selected{% endif %}>{{ y }}</option>
			{% endfor %}{% endif %}
			</select>				
		{% if form.parent.errors %}
		    {% for error in form.parent.errors %}<span class="error-text">{{ error|escape }}</span>{% endfor %}
		{% endif %}
		{% if form.parent.help_text %}<span class="help-text">{{ form.parent.help_text|safe }}</span>{% endif %}					
		</div>	
