{% comment %}
	Info:       Snippet full detail Card
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}
{% load staticfiles %}
{% load humanize %}

<div class="mdl-card poetry-card wFull bS-1" itemscope itemtype="http://schema.org/Article">
{% with snippet_url=snippet.get_absolute_url %}
	<div class="mdl-card__title mdl-card--expand mdl-color-text--grey-800">
		<h2 class="mdl-card__title-text" itemprop="headline">															
			{{ snippet.get_title }}
		</h2>
	</div>		
	<div class="mdl-card__supporting-text mdl-color-text--grey-600 article-info">
		<span>By
			<a title="View the author {{ author_name }}" href="{{ snippet.author.get_absolute_url }}">
				<span itemprop="creator">{{ snippet.author.get_display_name }}</span>
			</a>
		</span>	
		<span>
		{% if snippet.is_published %}{% comment %} TODO make it visible only to admin {% endcomment %}
		<i id="id-pub" class="material-icons" style="font-size:13px;color:#66B5D2;">assignment_turned_in</i>
		<span for="id-pub" class="mdl-tooltip">Published</span>
		{% endif %}						
			<a class="hashtag pretty-link" href="#">
				<s>#</s>
				<b itemprop="inLanguage">{{ snippet.get_language }}</b>
			</a>							
			{% for tag in snippet.get_tags_slugs %}
	 		<a class="hashtag pretty-link" href="{% url 'snippets:tagged-list' slug=tag %}">
	 			<s>#</s>
				<b>{{ tag }}</b>
			</a>
			{% endfor %}							
		</span>	
		{% if snippet.page %}				
		<span>This article was published in 
			<a title="Explore the book {{ snippet.page }}" href="{{ snippet.page.get_absolute_url }}">
			The Prophet
			</a>
		</span>
		{% endif %}		
	</div>

	<div id="articleContent" itemprop="articleBody" class="article-content mdl-card__supporting-text mdl-color-text--grey-800">											
		{% autoescape off %} <!-- Temorary: remove after adding CKeditor etc. -->
		{{ snippet.body }}
		{% endautoescape %}

	</div>
		
	<div class="action-pannel mdl-card__actions mdl-card--border mdl-color-text--grey-700">
		<button id="shareBtn" class="action-button" title="Share">
            <i class="material-icons" role="presentation">share</i>
            <span class="action-button__text">Share</span>	                
		</button>
		
		<button id="bookmarkBtn" class="action-button" title="Send to my Bookmarks">
            <i class="material-icons color-used" role="presentation">bookmark</i>
            <span class="action-button__text">Bookmark</span>			                
		</button>
								
		<button id="favBtn" class="action-button" title="I love this">							
            <i class="material-icons" role="presentation">favorite</i>
            <span class="action-button__text">Favorite</span>			                            
		</button>					
		
		<button id="moreBtn" class="action-button" title="Show meta data">							
            <i class="material-icons" role="presentation">more_horiz</i>
            <span class="action-button__text">More</span>			                            
		</button>															

		<div class="meta" title="Views">
			<span class="meta-val--bignum mR-4">12,234,002</span>
            <span class="meta-name">views</span>
            <!--<span class="visuallyhidden">views</span>-->	                
		</div>						
	</div>

	<div id="sharePannel" class="share-pannel mdl-card__actions mdl-card--border hidden">
		
		<button id="shareTwitteBtn" class="share-button" title="Share to Twitter" onclick="">
			<span class="share-icon-twitter"></span>			                	                
		</button>						
		<button id="shareFbBtn" class="share-button" title="Share to Facebook">
			<span class="share-icon-fb"></span>			                
		</button>												
		<button id="shareGoogleBtn" class="share-button" title="Share to Google+">
			<span class="share-icon-google"></span>       
		</button>
		<button id="shareMailBtn" class="share-button" title="Mail to">
			<span class="share-icon-mail"></span>       
		</button>
		
		<div class="mdl-layout-spacer"></div>
		<button id="sharePannelCloseBtn" class="action-button--small" title="Close">
			<i class="material-icons" role="presentation">close</i>       
		</button>																	
	</div>
	
	<div id="metaPannel" class="meta-pannel mdl-card__actions mdl-card--border mdl-color-text--grey-500 hidden">
		<div class="meta-edit">
			<div>
				<span>Last edited by</span>
				<span> 
    				<a title="Go to the profile page of user" href=#>{{snippet.get_last_edit_user}}</a>
				</span>
			</div>
			<div>
				<span title="Last updated at {{ snippet.get_last_edit_time }}">{{ snippet.get_last_edit_time |naturaltime }}</span>
			</div>
		</div>
		<div class="mdl-layout-spacer"></div>
		<button id="metaPannelCloseBtn" class="action-button--small" title="Close">
			<i class="material-icons" role="presentation">close</i>       
		</button>	
	</div>								
	
	<div class="mdl-card__menu">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
          <i class="material-icons">more_vert</i>
		</button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
          <li class="mdl-menu__item">
          {% if snippet.is_published %}
          	<a href="{% url 'snippets:publish' pk=snippet.id %}" title="Unpublish the article">Unpublish</a>
          {% else %}
          	<a href="{% url 'snippets:publish' pk=snippet.id %}" title="Publish the article">Publish</a>
          {% endif %}
          </li>
          <li class="mdl-menu__item">
          	<a href="{% url 'snippets:add' pk=snippet.id %}/?cancel={{ request.path }}" title="Edit to improve the article" >Edit</a>
          </li>
        </ul>
	</div>													
{% endwith %}
</div>

{% block scripts %}
{{ scripts.super }}
	<script>
	$(document).ready(function(){
	
		var displayShare = function(){			
			$('#sharePannel').toggleClass('hidden');
		};
		var hideShare = function(){
			$('#sharePannel').addClass('hidden');
		};
		
		var displayMeta = function(){
			$('#metaPannel').toggleClass('hidden');
		};
		var hideMeta = function(){			
			$('#metaPannel').addClass('hidden');
		};		
		
		$('#shareBtn').on('click', displayShare);
		$('#sharePannelCloseBtn').on('click', hideShare);
		$('#moreBtn').on('click', displayMeta);
		$('#metaPannelCloseBtn').on('click', hideMeta);		
	});
	</script>
{% endblock %}
