{% comment %}
	Info:       Snippet list as Card View
	Requires:   css and js of static/mdl/*
	Note:       xxx
{% endcomment %}

{% if snippets %} {% comment %} Display the list {% endcomment %}		
	<div class="bC-none mdl-cell mdl-cell--12-col">				
		<div class="mdl-card__supporting-text stats-text">		            
			Displaying {{ snippets|length }} of {{ snippets.paginator.count }} results.
		</div>
		{% if snippets.paginator.num_pages > 1 %}
		<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
			{% include "common/include/pagination.html" with obj_list=snippets getvars=getvars only %}
		</div>
		{% endif %}
	</div>			
	{% for snippet in snippets %}
	<div class="mdl-cell mdl-cell--12-col">	
	{% include "snippets/include/snippet-card-md.html" with snippet=snippet %}														
	</div>
	{% endfor %}
	<div class="bC-none mdl-cell mdl-cell--12-col">				
		{% if snippets.paginator.num_pages > 1 %}
		<div class="mdl-card__supporting-text pTB-0 mdl-color-text--grey-600">		            
			{% include "common/include/pagination.html" with obj_list=snippets getvars=getvars only %}
		</div>
		{% endif %}
	</div>
{% else %}  {% comment %} Display the notification {% endcomment %}
	<div class="bC-none mdl-cell mdl-cell--12-col">
		<div class="mdl-card__supporting-text oops-message">
			<i class="material-icons md-48">error_outline</i>	            
			<h6>Oops!! No data found for this query.</h6>
		</div>
	</div>
{% endif %}